<template name="HomePublic">
	<div class="container-fluid" id="content">
		<div class="row" id="title_row">
			<div class="col-xs-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
		<br/>
		{{> HomePublicContent}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container-fluid">
			<h1 id="component-title">
				{{_ "Welcome Message"}}
			</h1>
			<p id="jumbotron-text">
				<b>This is an test message.</b><br />It demonstrates simple application with user account system and admin panel.
			</p>
		</div>
	</div>
</template>
<template name="HomePublicContent">

</template>
