<template name="Publications">
    {{> FilterList}}
</template>

<template name="FilterList">
    <div class="container-fluid">
        {{> pageElement key="publication"}}
        {{> PublicationsAlphabetBar}}
        <div class="row">
            <div id="menu" class="col-xs-3 left-filter-menu">
                <ul class="list-unstyled">
                    <h6 class="text-uppercase bg-eee">{{_ "FILTER BY Publisher"}}:</h6>
                    {{#if selectedPublisher}}
                        <li><a class="clearPublisher" href="#"> &lt; {{_ "Any Publisher"}}</a></li>
                        {{#each publishers}}
                            <li style="color: #CCC;">
                                {{> onePublisherInFilterList}}
                            </li>
                        {{/each}}
                    {{else}}
                        {{#each publishers}}
                            <li>
                                <a class="filterPublisherButton" data-id="{{_id}}" href="#">
                                    {{> onePublisherInFilterList}}
                                </a>
                            </li>
                        {{/each}}
                    {{/if}}
                </ul>
                <ul class="list-unstyled">
                    <h6 class="text-uppercase bg-eee">{{_ "FILTER BY Topic"}}:</h6>
                        {{#each unionTopics}}
                            <li class="{{ftClass}}">
                                <a class="filterTopicButton" data-id="{{_id}}" href="#">
                                    {{translateThis name englishName}}({{countOfTopic}})
                                </a>
                            </li>
                        {{/each}}
                </ul>
            </div>
            <div id="subcontent" class="col-xs-9">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 20px;">
                        {{#each publications}}
                            {{> onePublication}}
                        {{else}}
                            {{_ "No publications found!"}}
                        {{/each}}
                        {{> Paginator_UI publications}}
                        {{#if filterPublicationPageCount}}
                            {{> displayPerPage}}
                        {{/if}}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="PublicationsAlphabetBar">
    <div class="row bg-eee">
        <div class="col-xs-3">
            {{#if isChinese languageTag}}
                命中 {{totalPublicationResults}} 个结果
            {{else}}
                {{totalPluralPublicationResults}}
            {{/if}}
        </div>
        <div class="pull-right">
            <a class="resetAlphabetFilter" href="#">{{_ "All"}}</a>&nbsp;
            {{#each letterInTheAlphabet}}
                <a class="letterFilter {{select}}" href="#">{{this}}</a>&nbsp;
            {{/each}}
            <a class="resetOtherFilter" href="#">{{_ "Other"}}</a>
        </div>
        <br>
    </div>
</template>

<template name="onePublisherInFilterList">
    {{translateThis chinesename name}} ({{count _id}})
</template>

<template name="onePublication">
    <div class="row dotted-publication-item">
        <!--<div class="pull-right">-->
            <!--{{#if permissionCheckWithScope "modify-journal" "resource"  "journal" _id}}-->
                <!--{{> displayPublication}}-->
                <!--{{#afModal class="fa fa-pencil" title=getModalTitle collection="Publications" doc=_id operation="update"-->
                <!--fields="title,titleCn,shortTitle,chiefEditor,competentOrganization,sponsor,frequencyPublication,included,description,topicId,accessKey,visible,picture,banner,adBanner,adhref,submissionReview,tabSelections,historicalJournals" buttonContent=getUpdateButtonContent}}-->
                <!--{{/afModal}}-->
            <!--{{/if}}-->
            <!--{{#if permissionCheckWithScope "delete-journal" "resource"  "publisher" publisher}}-->
                <!--<a href="#" class="fa fa-trash"></a>-->
            <!--{{/if}}-->
        <!--</div>-->
        <div class="col-xs-3">
            <a href="{{urlToJournalById _id}}"><img src="{{getImageHelper picture}}" width="105" class="auto-height"/></a>
        </div>
        <div class="col-xs-9">
            <ul class="list-unstyled">
                <li>
                    <div class="pub-title">
                        <a href="{{urlToJournalById _id}}">
                            {{> accessKeyImage}} {{translateThis titleCn title}}
                        </a>
                    </div>
                </li>
            </ul>
            {{> journalDescription}}
        </div>
    </div>
    <hr>
</template>

<template name="journalDescription">
    {{> toggleField field=description _id=_id}}
</template>