<template name="authorCentered">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="author center" isMiniPlatform=true}}
            <div class="row" style="margin-left: 10px">
                <h4>《中国科学》杂志社下所属期刊：</h4><hr>
                {{#each journalsInPublisher}}
                    <div class="col-xs-6">
                        <p>
                            <a style="font-size: 15px;" href="{{urlToJournalById _id}}" target="_blank"><img src="{{getImageHelper picture}}" style="width: 65px;height: 72px"/>&nbsp;&nbsp;&nbsp;&nbsp;{{titleCn}}</a>
                        </p>
                    </div>
                {{else}}
                    {{_ "No publications found!"}}
                {{/each}}
            </div>
        </div>
    </div>
</template>