<template name="authorCentered">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="author center"}}
            <hr>
            <div class="row" style="margin-left: 10px">
                <h4>《中国科学》杂志社</h4><hr>
                {{#each hasJournal}}
                    <div class="col-xs-6">
                        <a href="{{getJournalUrl}}">{{titleCn}}</a>
                    </div>
                {{else}}
                    {{_ "No publications found!"}}
                {{/each}}
            </div>
        </div>
    </div>
</template>