<template name="authorCentered">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="author center" isMiniPlatform=true}}
            <div class="row" style="margin-left: 10px">
                <h4>{{_ "Magazine Belongs"}}：</h4><hr>
                {{#each journalsInPublisher}}
                    <div class="col-xs-6">
                        <p>
                            <a style="font-size: 12px;" href="{{urlToJournalAuthorCenter _id}}"><img src="{{getImageHelper picture}}" style="width: 50px;height: 52px"/>&nbsp;&nbsp;&nbsp;&nbsp;{{translateThis titleCn title}}</a>
                        </p><hr>
                    </div>
                {{else}}
                    {{_ "No publications found!"}}
                {{/each}}
            </div>
        </div>
    </div>
</template>