<template name="oneArticle">
    <ul class="dotted list-unstyled">
        <li>
            <h4><img src="/icon_access_oa.gif"><a href="{{urlToArticle title}}">{{title}}</a></h4>
            <ul class="list-unstyled">
              <li>{{> authorPopButton name=authors}}</li>
              <li>
                  <a href="{{urlToJournal title}}">{{journalName journalId}}</a>
                  2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970
              </li>
              <li>{{_ "Language"}} : {{_ "Chinese"}}</li>
              <li><a href="#" class="onup"><b class="caret"></b>{{_ "Details"}}</a>
                <ul class="list-unstyled detail-ul">
                    <li>{{abstract}}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</template>
