<template name="oneArticle">

    <ul class="dotted list-unstyled">
        <li>

            <!--<h6>{{_ "Topic"}}: {{_ topic}}</h6>-->
	        {{#if can "delete-article" "resource"}}
	        <a href="#" class="fa fa-trash btn-delete-article " style="float:right"></a>
	        {{/if}}
            <h4><div class="resultsList">{{> accessKeyImage}}<a href="{{urlToArticleById _id}}">{{translateThis title.cn title.en}}</a></div></h4>

	        <ul class="list-unstyled">
                <li>
                    {{#each authors}}
                        {{> authorPopButton}}
                    {{/each}}
                </li>
                <li>
                    <a href="{{urlToJournal title.en}}">{{journalName journalId}}</a> <b>{{volume}}</b>, {{elocationId}} ({{year}})
                    <a href="http://dx.doi.org/{{doi}}">http://dx.doi.org/{{doi}} <i class="fa fa-external-link"></i></a>
                </li>
                {{> abstractDetails}}
            </ul>
        </li>
    </ul>
</template>

<template name="abstractDetails">
    {{> toggleFieldBrowse field=abstract _id=_id}}
</template>