<template name="oneArticle">

    <ul class="dotted list-unstyled article-info">
        <li>
	        <!--{{#if can "delete-article" "resource"}}-->
	        <!--<a href="#" class="fa fa-trash btn-delete-article " style="float:right"></a>-->
	        <!--{{/if}}-->
            <h4><div class="resultsList">{{> accessKeyImage}}<a href="{{urlToArticleById _id}}">{{{translateThis title.cn title.en}}}</a></div></h4>

	        <ul class="list-unstyled">
                <li>
                    {{#each authors}}
                    <span class="separate-comma author-display">{{> authorPopButton}}</span>
                    {{/each}}
                </li>
                <li>
                    <a class="journalTitle" href="{{urlToJournal title.en}}">{{journalName journalId}}</a> <b>{{volume}}</b>, {{elocationId}} ({{year}})
                    <a href="http://dx.doi.org/{{doi}}">http://dx.doi.org/{{doi}} <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    {{contentType}}
                </li>
                <li>
                    {{> abstractDetails}}
                </li>
            </ul>
        </li>
    </ul>
</template>

<template name="abstractDetails">
    {{> toggleFieldBrowse field=abstract _id=_id doi=doi}}
</template>