<template name="SearchBar">
    <div class="navbar-form pull-right" role="search" name="search">
        <div class="input-group">
            <input id="searchInput" type="text" class="form-control" placeholder='{{_ "Search"}}'>
           <span class="input-group-btn">
               <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
           </span>
        </div>
    </div>
</template>

<template name="SearchResults">
    <div class="col-xs-4">
        {{#each filters}}
            {{>filterItem}}
        {{/each}}
    </div>
    <div class="col-xs-8">
        <h4>{{_ "Search results"}}</h4>
        {{#each results}}
            {{> oneArticle}}
        {{else}}
            {{_ "No results found!"}}
        {{/each}}
    </div>
</template>

<template name="filterItem">
    <h5 class="bg-eee">{{filterTitle}}</h5>
    <ul class="list-unstyled list-ul">
        {{#each filterOptions}}
            <li><a href="#">{{name}}({{count}})</a></li>
        {{/each}}
    </ul>
</template>
