<template name="SearchBar">
    <form class="navbar-form pull-right" role="search" name="search">
       <div class="input-group">
           <input id="searchInput" type="text" class="form-control" placeholder='{{_ "Search"}}'>
           <span class="input-group-btn">
               <button class="btn btn-primary" type="button"><i class="fa fa-search"></i>
               </button>
           </span>
       </div>
   </form>
</template>

<template name="SearchResults">
            <div class="col-xs-4">
                {{#each filters}}
                    {{>filterItem}}
                {{/each}}

            </div>
            <div class="col-xs-8">
                <h4>搜索文章查看：</h4>
                {{#each results}}
                <ul class="dotted list-unstyled">
                    <li>
                        <h4><img src="/icon_access_oa.gif"><a href="{{urlToArticle title}}">{{title}}</a></h4>
                        <ul class="list-unstyled">
                            <li>{{authors}}</li>
                            <li>《科学通报》2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</li>
                            <li>语种类型：中文</li>
                            <li><a href="#" class="onup"><b class="caret"></b> 详情</a>
                                <ul class="list-unstyled det-ul">
                                    <li>dfasfasdfadfadfadfasdfasdfasdfasdfdfadfa</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                {{else}}
                No results found!
                {{/each}}
            </div>
</template>
<template name="filterItem">
    <h5 class="bg-eee">{{filterTitle}}</h5>
    <ul class="list-unstyled list-ul">
        {{#each filterOptions}}
        <li><a href="#">{{name}}({{count}})</a> </li>
        {{/each}}
    </ul>
</template>
