<template name="contact">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="contact" isMiniPlatform=true}}
            <div class="row" style="margin-left: 10px">
                <h4>《中国科学》杂志社所属各期刊部门通讯信息：
                    {{#if miniPlatformPermission}}
                        <span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addNewsContactModal"></span>{{> addNewsContactModalForm}}
                    {{/if}}
                </h4><hr>
                {{> contactList}}
            </div>
        </div>
    </div>
</template>

<template name="contactList">
    {{#each contactUs}}
        <div class="col-xs-6">
            <div><strong>{{title}}</strong>
            {{#if miniPlatformPermission}}{{> updateNewsContactModalForm}}{{/if}}
            {{#if miniPlatformPermission}}<a href="#" id="contactDel" class="fa fa-trash"></a>{{/if}}
            </div>
            <div><p>{{{content}}}</p></div>
        </div>
    {{else}}
        {{_ "No results found!"}}
    {{/each}}
</template>

<template name="updateNewsContactModalForm">
    {{#afModal formId=_id class="fa fa-pencil" title=getUpdateButtonContent collection="NewsContact" doc=_id operation="update" omitFields="createDate,link,fileName,fileId,types"}}{{/afModal}}
</template>

<template name="addNewsContactModalForm">
    <div class="modal fade" id="addNewsContactModal" role="dialog" aria-labelledby="addNewsContactModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addNewsContactModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addNewsContactModalForm" collection="NewsContact" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="content"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>