<template name="newsCenter">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="newsCenter" isMiniPlatform=true}}
            <div class="row" style="margin-left: 10px">
                {{#each recruitInfo}}
                    <strong><a style="font-size: 14px;color: red" href="{{whichUrl}}" target="_blank">{{{translateThis title.cn title.en}}}</a></strong>
                    {{#if miniPlatformPermission}}{{> updateRecruitmentModalForm}}{{/if}}
                    {{#if miniPlatformPermission}}<a href="#" id="recruitDel" class="fa fa-trash"></a>{{/if}}
                {{/each}}
                {{#if miniPlatformPermission}}
                    <span class="fa fa-plus {{hide}}" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addRecruitmentModal"></span>{{> addRecruitmentModalForm}}
                {{/if}}<hr>
            </div>
            <!--杂志社动态Tab页面-->
            {{#newCenterTabs name="" tabs=tabs activeTab=activeTab}}
                {{#tabContent slug="scpNews"}}
                    {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniMagazineModal"></span><hr>{{> addMiniMagazineModalForm}}{{/if}}
                    <div>
                        {{#each miniMagazines}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a href="{{whichUrl}}" target="_blank">{{{translateThis title.cn title.en}}}</a><span class="pull-right">({{formatDate releaseTime "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateMiniNewsCenterModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="magDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        <br>
                        <br>
                        {{> Paginator_UI miniMagazines}}
                        {{#if magazinesCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                {{/tabContent}}
                <!--出版动态Tab页面-->
                {{#tabContent slug="publishingNews"}}
                    {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniPublishingModal"></span><hr>{{> addMiniPublishingModalForm}}{{/if}}
                    <div>
                        {{#each miniPublishing}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a href="{{whichUrl}}" target="_blank">{{{translateThis title.cn title.en}}}</a><span class="pull-right">({{formatDate releaseTime "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateMiniNewsCenterModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="pubDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        <br>
                        <br>
                        {{> Paginator_UI miniPublishing}}
                        {{#if publishingCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                {{/tabContent}}
            {{/newCenterTabs}}
        </div>
    </div>
</template>

<template name="newCenterTabs">
    <div class="newCenterTabs-container">
        {{#if activeTab}}
            {{trackActiveTab activeTab}}
        {{/if}}
        {{trackTabs tabs}}
        <ul class="nav nav-tabs" role="tablist">
            {{#each tabs}}
                <li role="presentation" class="tab-item {{isActiveTab slug}}">
                    <a role="tab" data-toggle="tab" href="#">{{name}}</a>
                </li>
            {{/each}}
        </ul>
        <div class="tabs-content-container">
            {{> UI.contentBlock context=__context__ }}
        </div>
    </div>
</template>

<template name="updateRecruitmentModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="NewsCenter" doc=_id operation="update" omitFields="picture,author,recommend,pageView,createDate,types"}}{{/afModal}}
</template>

<template name="addRecruitmentModalForm">
    <div class="modal fade" id="addRecruitmentModal" role="dialog" aria-labelledby="addRecruitmentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addRecruitmentModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addRecruitmentModalForm" collection="NewsCenter" type="insert"}}
                    <div class="modal-body">
                        {{> afQuickField name="title"}}
                        {{> afQuickField name="abstract"}}
                        {{> afQuickField name="content"}}
                        {{> afQuickField name="link"}}
                        {{> afQuickField name="releaseTime"}}
                        {{> afQuickField name="fileId"}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="addMiniMagazineModalForm">
    <div class="modal fade" id="addMiniMagazineModal" role="dialog" aria-labelledby="addMiniMagazineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniMagazineModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniMagazineModalForm" collection="NewsCenter" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="author"}}
                    {{> afQuickField name="abstract"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="recommend"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="releaseTime"}}
                    {{> afQuickField name="picture"}}
                    {{> afQuickField name="fileId"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="addMiniPublishingModalForm">
    <div class="modal fade" id="addMiniPublishingModal" role="dialog" aria-labelledby="addMiniPublishingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniPublishingModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniPublishingModalForm" collection="NewsCenter" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="author"}}
                    {{> afQuickField name="abstract"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="recommend"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="releaseTime"}}
                    {{> afQuickField name="picture"}}
                    {{> afQuickField name="fileId"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="updateMiniNewsCenterModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="NewsCenter" doc=_id operation="update" omitFields="pageView,createDate,types"}}{{/afModal}}
</template>