<template name="newsCenter">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="newsCenter" isMiniPlatform=true}}
            <div class="row" style="margin-left: 10px">
                {{#each recruitInfo}}
                    <strong><a style="font-size: 16px;color: red" href="{{whichUrl}}" target="_blank">{{title}}</a></strong>
                    {{#if miniPlatformPermission}}{{> updateRecruitmentModalForm}}{{/if}}
                    {{#if miniPlatformPermission}}<a href="#" id="recruitDel" class="fa fa-trash"></a>{{/if}}
                {{/each}}
                {{#if miniPlatformPermission}}
                    <span class="fa fa-plus {{hide}}" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addRecruitmentModal"></span>{{> addRecruitmentModalForm}}
                {{/if}}<hr>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#newsBtn" aria-controls="home" role="tab" data-toggle="tab">新闻>></a></li>
                <li role="presentation"><a href="#magazineBtn" aria-controls="profile" role="tab" data-toggle="tab">杂志社动态>></a></li>
                <li role="presentation"><a href="#publishingBtn" aria-controls="messages" role="tab" data-toggle="tab">出版动态>></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="newsBtn" style="margin-left: 20px">
                    <strong style="font-size: 18px">新闻</strong>
                    <div class="pull-right">
                        {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniNewsModal"></span>{{> addMiniNewsModalForm}}{{/if}}
                    </div><hr>
                    <div>
                        {{#each miniNews}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a style="font-size: 15px" href="{{whichUrl}}" target="_blank">{{title}}</a><span class="pull-right">({{formatDate createDate "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateMiniNewsCenterModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="newsDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        {{> Paginator_UI miniNews}}
                        {{#if newsCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                </div>
                <div role="tabpanel" class="tab-pane" id="magazineBtn" style="margin-left: 20px">
                    <strong style="font-size: 18px">杂志社动态</strong>
                    <div class="pull-right">
                        {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniMagazineModal"></span>{{> addMiniMagazineModalForm}}{{/if}}
                    </div><hr>
                    <div>
                        {{#each miniMagazines}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a style="font-size: 15px" href="{{whichUrl}}" target="_blank">{{title}}</a><span class="pull-right">({{formatDate createDate "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateMiniNewsCenterModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="magDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        {{> Paginator_UI miniMagazines}}
                        {{#if magazinesCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                </div>
                <div role="tabpanel" class="tab-pane" id="publishingBtn" style="margin-left: 20px">
                    <strong style="font-size: 18px">出版动态</strong>
                    <div class="pull-right">
                        {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniPublishingModal"></span>{{> addMiniPublishingModalForm}}{{/if}}
                    </div><hr>
                    <div>
                        {{#each miniPublishing}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a style="font-size: 15px" href="{{whichUrl}}" target="_blank">{{title}}</a><span class="pull-right">({{formatDate createDate "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateMiniNewsCenterModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="pubDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        {{> Paginator_UI miniPublishing}}
                        {{#if publishingCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="updateMiniNewsCenterModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="NewsCenter" doc=_id operation="update" omitFields="pageView,createDate,types"}}{{/afModal}}
</template>

<template name="updateRecruitmentModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="NewsCenter" doc=_id operation="update" omitFields="picture,author,recommend,pageView,createDate,types"}}{{/afModal}}
</template>

<template name="addRecruitmentModalForm">
    <div class="modal fade" id="addRecruitmentModal" role="dialog" aria-labelledby="addRecruitmentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addRecruitmentModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addRecruitmentModalForm" collection="NewsCenter" type="insert"}}
                    <div class="modal-body">
                        {{> afQuickField name="title"}}
                        {{> afQuickField name="abstract"}}
                        {{> afQuickField name="content"}}
                        {{> afQuickField name="link"}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="addMiniNewsModalForm">
    <div class="modal fade" id="addMiniNewsModal" role="dialog" aria-labelledby="addMiniNewsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniNewsModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniNewsModalForm" collection="NewsCenter" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="author"}}
                    {{> afQuickField name="abstract"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="recommend"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="picture"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="addMiniMagazineModalForm">
    <div class="modal fade" id="addMiniMagazineModal" role="dialog" aria-labelledby="addMiniMagazineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniMagazineModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniMagazineModalForm" collection="NewsCenter" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="author"}}
                    {{> afQuickField name="abstract"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="recommend"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="picture"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="addMiniPublishingModalForm">
    <div class="modal fade" id="addMiniPublishingModal" role="dialog" aria-labelledby="addMiniPublishingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniPublishingModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniPublishingModalForm" collection="NewsCenter" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="author"}}
                    {{> afQuickField name="abstract"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="recommend"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="picture"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>