<template name="Topics">

    <div class="page-container container">
        <div class="row">
            <h2>{{_ "Topics"}}</h2>
        </div>
        <div class="row">
            {{#if isAdmin }}
            {{> addTopicModalForm}}
            {{/if}}
        </div>
        <hr>
        <div class="row">
            {{> TopicList}}
        </div>
        <!-- <div id="topicTree"></div> -->
    </div>

</template>

<template name="TopicList">
    {{#each topics}}
    {{> SingleTopic}}
    {{else}}
    {{_ "No topics found!"}}
    {{/each}}
</template>

<template name="SingleTopic">
    <div class="row">
        {{name}}
        <div class="pull-right">
            {{> addSubtopic}}
        </div>
        {{#each contacts}}
        {{name}}
        {{else}}
        {{_ "No subtopics found!"}}
        {{/each}}
    </div>

</template>

<template name="addTopicModalForm">
    {{#afModal class="fa fa-plus btn btn-success" collection="Topics" operation="insert" fields="name"}}
    {{_ "Add new"}}
    {{/afModal}}
</template>

<template name="addSubtopic">
    {{#afModal class="fa fa-plus btn btn-success" type="update-pushArray" collection="Topics" doc=exampleDoc scope="contacts"}}
    {{_ "Add new"}}
    {{/afModal}}
</template>

