<template name="Topics">

    <div class="page-container container">
        <div class="row">
            <h2>{{_ "Topics"}}</h2>
        </div>
        <div class="row">
            {{#if isAdmin }}
            {{> addTopicModalForm}}
            {{/if}}
        </div>
        <hr>
        <div class="row">
            {{> TopicList}}
        </div>
        <!-- <div id="topicTree"></div> -->
    </div>

</template>

<template name="TopicList">
    <ul class="list-unstyled">
        {{#each topics}}
        {{> SingleTopic}}
        {{else}}
        {{_ "No topics found!"}}
        {{/each}}
    </ul>
</template>

<template name="SingleTopic">
    <li style="list-style-type:none;">
        {{#if subTopicCount name}}
            <i class="fa fa-plus" type="button" data-toggle="collapse" data-target="#{{removeSpaces name}}" aria-expanded="false" aria-controls="{{removeSpaces name}}"></i>
        {{/if}}
        {{name}}
    </li>
    <hr style="margin-bottom: 5px; margin-top: 5px">
    <div class="collapse" id="{{removeSpaces name}}">
        {{#each subTopics name}}
        <ul>
            {{> SingleTopic}}
        </ul>
        {{/each}}
    </div>
</template>

<template name="addTopicModalForm">
    {{#afModal class="fa fa-plus btn btn-success" collection="Topics" operation="insert"}}
    {{_ "Add new"}}
    {{/afModal}}
</template>