<template name="miniLayout">
    <div class="miniPlatform">
    <!-- head 开始 -->
    <div class="head" style="height: 110px">
        {{> languageBar}}
        <div class="top">
            <div class="logo">
                <div class="copLogo"><a href="http://www.scichina.com"><img src="/logo.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://engine.scichina.com"><img src="/logo_new.png" style="height: 56px;"/></a></div>
            </div>
            <div class="serach">
                <div class="navbar-form pull-right" role="search">
                    <div class="input-group">
                        <select id="searchSelect" style="float:left;height:32px;"><option value ="resource">{{_ "Article Resources"}}</option><option value ="local">{{_ "Information Portal"}}</option></select><input id="searchInput" style="float:right;width:285px;" type="text" class="form-control" placeholder="{{_ "Search"}}">
                <span class="input-group-btn">
                   <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- head 结束 -->
    <!-- nav 开始 -->
    <div class="navMini">
        <ul>
            <li id="nav-item-dropdown" class="dropdown {{menuClass 'magazineProfile'}}{{menuClass 'council'}}{{menuClass 'chiefEditor'}}{{menuClass 'memorabilia'}}{{menuClass 'enterpriseCulture'}}" style="border-left:1px solid #dedede;">
                <a data-toggle="dropdown">{{_ "About"}}<b class="caret"></b></a>
                <ul id="dropdown-nav-items" class="dropdown-menu" style="min-width: 132px;margin-left:-2px;">
                    <li class="{{menuClass 'magazineProfile'}}">
                        <a href="{{pathFor 'magazineProfile'}}" >{{_ "Magazine Profile"}}</a>
                    </li>
                    <li class="{{menuClass 'council'}}">
                        <a href="{{pathFor 'council'}}" >{{_ "Council"}}</a>
                    </li>
                    <li class="{{menuClass 'chiefEditor'}}">
                        <a href="{{pathFor 'chiefEditor'}}" >{{_ "Chief Editor"}}</a>
                    </li>
                    <li class="{{menuClass 'memorabilia'}}">
                        <a href="{{pathFor 'memorabilia'}}" >{{_ "Two TV Memorabilia"}}</a>
                    </li>
                    <li class="{{menuClass 'enterpriseCulture'}}">
                        <a href="{{pathFor 'enterpriseCulture'}}" >{{_ "Company Culture"}}</a>
                    </li>
                </ul>
            </li>
            <li class="{{menuClass 'authorCentered'}}">
               <a href="{{pathFor 'authorCentered'}}">{{_ "Author Center"}}</a>
            </li>
            <li>
                <a href="{{collectionsLink}}" target="_self">{{_ "Collections"}}</a>
            </li>
            <li class="{{menuClass 'cooperation'}}">
               <a href="{{pathFor 'cooperation'}}">{{_ "Publishing Cooperation"}}</a>
            </li>
            <li>
                <a href="http://engine.scichina.com/cooperationCenter">{{_ "AD Cooperation"}}</a>
            </li>
            <li class="{{menuClass 'subscription'}}">
                <a href="{{pathFor 'subscription'}}">{{_ "Subscription"}}</a>
            </li>
            <li class="{{menuClass 'newsCenter'}}">
                <a href="{{pathFor 'newsCenter'}}">{{_ "News Center"}}</a>
            </li>
            <li class="{{menuClass 'contact'}}" style="width:146px;">
                <!--<a href="/" class="fa fa-pencil" collection="PageHeadings" operation="update"></a>-->
                <a href="{{pathFor 'contact'}}">{{_ "Contact Us"}}</a>
            </li>
        </ul>
    </div>
    {{> autoformModals}}
    {{> jkautoformModals}}
    <!-- nav 结束 -->
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> flashMessages}}
        </div>
    </div>
    {{> yield}}
    <!-- footer 开始 -->
    <div class="footer">
        <div class="foot">
            <p class="oh">
                <span class="colBlue">{{_ "Links"}}：</span>
                {{#each myLinks}}
                    <a href="{{link}}" target="_blank" title="{{remark}}"><img src="{{getImageHelper picture}}" height="30" width="100"/></a>
                    {{#if miniPlatformPermission}}{{> updateIndexNewsLinkModalForm}}{{/if}}
                    {{#if miniPlatformPermission}}<a href="#" id="myLink" class="fa fa-trash"></a>{{/if}}
                {{else}}
                    {{_ "No results found!"}}
                {{/each}}
                <div class="pull-right">
                {{#if miniPlatformPermission}}
                    <span class="fa fa-plus {{hide}}" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addIndexNewsLinkModal"></span>{{> addIndexNewsLinkModalForm}}
                {{/if}}
                </div>
            </p>
            <!--<p>{{_ "Webmaster"}}：010  64034113   sys@scichina.org </p>-->
            <p>Copyright {{currYear}} Science China Press Co., Ltd. 《中国科学》杂志社有限责任公司 版权所有</p>
            <p>京ICP备17057255号</p>
        </div>
    </div>
    <!-- footer 结束 -->
    </div>
</template>

<template name="newsPlatform">
    <!-- banner 开始 -->
    {{> layoutPublications}}
    <!-- banner 结束 -->

    <!-- banner 1 开始 -->
    <div class="banner">
        {{> layoutNewsShow}}
        {{> layoutColumns}}
    </div>
    <!-- banner 1 结束 -->

    <!-- main 开始 -->
    <div class="main">
        <!-- 左侧内容开始 -->
        <div class="mainLeft">
            {{> layoutLatestArticles}}
            {{> layoutPicture}}
        </div>
        <!-- 左侧内容结束 -->

        <!-- 右侧内容开始 -->
        <div class="mainRight">
            {{> layoutRightNews}}
        </div>
        <!-- 右侧内容结束 -->
    </div>
    <!-- mian 结束 -->
    <!-- publishAll 开始 -->
    <div class="publishAll">
        <div class="pubAllCont">
            <img src="/biao.png" class="vm"/>
            <span class="ml200" style="margin-left:100px">
                <a href="http://engine.scichina.com">{{_ "Click into"}} <i class="fa fa-hand-o-right"></i></a>
            </span>
            <span class="ml10"></span>
        </div>
    </div>
    <!-- publishAll 结束 -->

</template>

<template name="updateIndexNewsLinkModalForm">
    {{#afModal formId=_id class="fa fa-pencil" title=getUpdateButtonContent collection="NewsLink" doc=_id operation="update" omitFields="types"}}{{/afModal}}
</template>

<template name="addIndexNewsLinkModalForm">
    <div align="left" class="modal fade" id="addIndexNewsLinkModal" role="dialog" aria-labelledby="addIndexNewsLinkModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addIndexNewsLinkModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addIndexNewsLinkModalForm" collection="NewsLink" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="remark"}}
                    {{> afQuickField name="picture"}}
                    {{> afQuickField name="link"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
