<template name="ShowJournal">

    {{ initPage _id publisher}}
    <div class="pull-right">
        {{#if can "modify-journal" "resource" }}
            {{> updatePublicationBannerModalForm}}
        {{/if}}
    </div>
    {{> journalBanner journal=_id}}
    <br>
    {{#if can "modify-journal" "resource"  }}
        <div class="pull-right">
            {{> updateJournalTabsModalForm}}
        </div>
    {{/if}}
    <br>
    {{> journalOptions}}
</template>

<template name="journalBanner">
    <h2><img src="{{getJournalBannerById journal}}" width="650" height="94" alt="{{translateThis titleCn title}}"></h2>
</template>

<template name="journalOptions">
    {{#journalTabs name="" tabs=tabs activeTab=activeTab}}

        {{#tabContent slug="Overview"}}
            {{#with journalContext}}
                {{> JournalOverview}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Browse"}}
            {{#with journalContext}}
                {{> articleList}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="About"}}
            {{#with journalContext}}
                {{> aboutTopics}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Editorial Board"}}
            {{#with journalContext}}
                {{> aboutTitle}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="News"}}
            {{#with journalContext}}
                {{> newContent}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Media"}}
            {{#with journalContext}}
                {{> mediaList}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Special Topics"}}
            {{#with journalContext}}
                {{> SpecialTopics}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Collections"}}
            {{#with journalContext}}
                {{> collections}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Accepted"}}
            {{#with journalContext}}
                {{> articleListRight pubStatus="preset"}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Online First"}}
            {{#with journalContext}}
                {{> articleListRight pubStatus="online_frist"}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="MOOP"}}
            {{#with journalContext}}
                {{> mediaList}}
            {{/with}}
        {{/tabContent}}

        {{#tabContent slug="Author Center"}}
            {{#with journalContext}}
                {{> authorCenterList}}
            {{/with}}
        {{/tabContent}}
    {{/journalTabs}}
</template>

<template name="journalTabs">
    <div class="row">
        <div class="journalTabs-container">

            {{#if activeTab}}
                {{trackActiveTab activeTab}}
            {{/if}}

            {{trackTabs tabs}}

            <ul class="nav nav-tabs" role="tablist">
                {{#each tabs}}
                    <li role="presentation" class="tab-item {{isActiveTab slug}}">
                        <a role="tab" data-toggle="tab">{{name}}</a>
                    </li>
                {{/each}}
            </ul>

            <div class="tabs-content-container">
                {{> UI.contentBlock context=__context__ }}
            </div>
        </div>
    </div>
</template>

<template name="updatePublicationDescriptionModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="Publications" doc=_id operation="update" fields="description" buttonContent=getUpdateButtonContent}}
    {{/afModal}}
</template>

<template name="updatePublicationPictureModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="Publications" doc=_id operation="update" fields="picture" buttonContent=getUpdateButtonContent}}
    {{/afModal}}
</template>

<template name="updatePublicationBannerModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="Publications" doc=_id operation="update" fields="banner" buttonContent=getUpdateButtonContent}}
    {{/afModal}}
</template>

<template name="updateJournalTabsModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="Publications" doc=_id operation="update" fields="tabSelections" buttonContent=getUpdateButtonContent}}
    {{/afModal}}
</template>


<template name="updateIssueDescriptionModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="Issues" doc=_id operation="update" fields="description" buttonContent=getUpdateButtonContent}}
    {{/afModal}}
</template>

