<template name="ShowJournal">
    <img src="http://scitation.aip.org/docserver/fulltext/aipadv_png8.png" alt="{{title}}">
    {{> myTemplate}}
    <hr>
</template>

<template name="myTemplate">

    {{#basicTabs name="" tabs=tabs}}

    {{#tabContent slug="overview"}}
    {{#with context}}
    {{> OverviewTemplate}}
    {{/with}}
    {{/tabContent}}

    {{#tabContent slug="browse"}}
    <h2>Browse Page</h2>
    {{/tabContent}}

    {{#tabContent slug="about"}}
    <h2>About Page</h2>
    {{/tabContent}}

    {{/basicTabs}}

</template>

<template name="OverviewTemplate">

	<div class="row">
		<div class="col-xs-4">
			<img src="{{PT.getImage picture}}" width="105" />
			<!-- <img src="{{getImage picture}}" width="105" /> -->
		</div>
		<div class="col-xs-8">
			<div class="row">
				{{description}}
			</div>
		</div>
	</div>
	<hr>

</template>
