<template name="ShowJournal">
  <img src="http://scitation.aip.org/docserver/fulltext/aipadv_png8.png" alt="{{title}}">
  <br>
  {{> journalOptions}}
  <hr>
</template>

<template name="journalOptions">

  {{#journalTabs name="" tabs=tabs}}

  {{#tabContent slug="overview"}}
  {{#with context}}
  {{> OverviewTemplate}}
  {{/with}}
  {{/tabContent}}

  {{#tabContent slug="browse"}}
  <a href="/publisher/abc/journal/banana/article/test" ><h2>Browse Page</h2></a>
  {{/tabContent}}

  {{#tabContent slug="about"}}
  <div class="tabbable">
    <ul class="nav nav-pills nav-stacked col-md-3">
      <li><a class="active" href="#a" data-toggle="tab">One</a></li>
      <li><a href="#b" data-toggle="tab">Two</a></li>
      <li><a href="#c" data-toggle="tab">Twee</a></li>
    </ul>
    <div class="tab-content col-md-9">
      <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
      <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
      <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
      </div>
    </div>
    {{/tabContent}}
    {{/journalTabs}}

  </template>

  <template name="journalTabs">

    <div class="journalTabs-container">

      {{#if activeTab}}
      {{trackActiveTab activeTab}}
      {{/if}}

      {{trackTabs tabs}}

      <ul class="nav nav-tabs" role="tablist" >
        {{#each tabs}}
        <li role="presentation" class="tab-item {{isActiveTab slug}}"><a role="tab" data-toggle="tab">{{name}}</a></li>
        {{/each}}
      </ul>

      <div class="tabs-content-container">
        {{> UI.contentBlock
        context=__context__
      }}
    </div>

  </div>

</template>

<template name="OverviewTemplate">

  <div class="row">
    <div class="col-xs-4">
      <img src="{{getImageHelper picture}}" width="105" />
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="pull-right">
          {{#if isAdmin }}
          {{> updatePublicationDescriptionModalForm}}
          {{/if}}
        </div>
        {{description}}
      </div>
    </div>
  </div>
  <hr>
</template>
<template name="updatePublicationDescriptionModalForm">
  {{#afModal class="fa fa-pencil" title="Update" collection="Publications" schema="" doc=_id operation="update" fields="description"}}
  {{/afModal}}
</template>
