div.issues {
    display: none;
    margin-left: 20px
}
.journal-banner img{
    width:100%;
    max-height:200px
}
ul.article-list > ul {
    padding-bottom: 7px;
}

a.select-filter {
    border-bottom: 2px #000000 solid;
}

.historical-journal > h5{
    margin:4px
}
.journal-summary > dt {
     width:50px !important;
 }
.journal-summary > dd {
    margin-left:55px !important;
}