div.issues {
    display: none;
    margin-left: 20px
}
.journal-banner img{
    width:100%;
    max-height:200px
}
ul.article-list > ul {
    padding-bottom: 7px;
}

a.select-filter {
    border-bottom: 2px #000000 solid;
}

.historical-journal > h5{
    margin:4px
}
.journal-summary > dt {
    font-size: 12px;
     width:50px !important;
 }
.journal-summary > dd {
    font-size: 12px;
    margin-left:55px !important;
}
.journal-summary-small > dt {
    font-size: 12px;
    width:35px !important;
}
.journal-summary-small > dd {
    font-size: 12px;
    margin-left:40px !important;
}
li.issue.list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: initial;
    border-top-left-radius: initial;
}

.his-jour-title-th {
    width:280px;
}