<template name="columnViewsDetails">
    <div class="banner">
        <div class="container-fluid">
            <div class="row"><h3>{{translateThis columnTitle.cn columnTitle.en}} >></h3></div><hr>
            <div class="tabbable">
                <div class="col-xs-3 text-left">
                    <ul class="nav nav-pills nav-stacked aboutNavTabs">
                        {{#each columnList}}
                            <div class="pull-right row aboutEditButtons">
                                {{#if miniPlatformPermission}}{{> updateColumnViewsModalForm}}{{/if}}
                                {{#if miniPlatformPermission}}<a href="#" class="fa fa-trash columnDel"></a>{{/if}}
                            </div>
                            <li class="{{isActive _id}}">
                                <a class="activeBut displayModal mini-column-hiddenTitle" style="border:1px solid #d7d7d7;font-size: 12px;text-align: left;" data-columnid="{{_id}}" data-toggle="tab" title={{translateThis title.cn title.en}}>
                                    {{translateThis title.cn title.en}}
                                </a>
                            </li>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        <div class="pull-right">
                            {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addColumnViewsModal"></span>{{> addColumnViewsModalForm}}{{/if}}
                        </div>
                    </ul>
                </div>
                <div class="tab-content col-xs-9">
                    <div class="tab-pane active">
                        <div class="partContent">
                            <p><div align="center"><span class="title-font">{{{translateThis columnViewsTitle.cn columnViewsTitle.en}}}</span></div></p><hr>
                            <p>{{{translateThis columnViewsIntroduction.cn columnViewsIntroduction.en}}}</p>
                            <p>{{{translateThis columnViewsContent.cn columnViewsContent.en}}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="updateColumnViewsModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="ColumnViews" doc=_id operation="update" omitFields="columnId,usersId"}}{{/afModal}}
</template>

<template name="addColumnViewsModalForm">
    <div class="modal fade" id="addColumnViewsModal" role="dialog" aria-labelledby="addColumnViewsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addColumnViewsModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addColumnViewsModalForm" collection="ColumnViews" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="abstract"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="releaseTime"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>