<template name="enterpriseCultureDetails">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            <div class="row">
                <h3>{{_ "Cultural details"}}</h3>
            </div>
            <hr>
            {{#each cultureDetails}}
                <div class="partContent">
                    <div align="center"><span class="title-font">{{translateThis title.cn title.en}}</span>
                        {{#if miniPlatformPermission}}{{> updateEnterpriseCultureModalForm}}{{/if}}</div><br>
                    <p>{{{translateThis content.cn content.en}}}</p>
                </div>
            {{else}}
                {{_ "No results found!"}}
            {{/each}}
        </div>
    </div>
</template>