<template name="newsCenterDetails">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            <div class="row">
                <h3>{{_ "News Details"}}</h3>
            </div>
            <div class="row">
                <div id="subcontent" class="col-xs-9">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 20px;">
                            {{#each newsDetails}}
                                <div align="center"><span class="title-font">{{{translateThis title.cn title.en}}}</span>
                                    {{#if miniPlatformPermission}}{{> updateMiniNewsCenterModalForm}}{{/if}}
                                </div><br>
                                <p class="text-center">{{#if releaseTime}}{{_ "Published online"}}：{{formatDate releaseTime "YYYY-MM-DD"}}&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}{{_ "Page View"}}：{{pageView}}&nbsp;&nbsp;&nbsp;&nbsp;{{#if author}}{{_ "Author"}}：{{translateThis author.cn author.en}}{{/if}}</p><br>
                                <p>{{{translateThis content.cn content.en}}}</p>
                                {{#if fields}}
                                    <p><a style="color: red" href="{{wordValue}}" target="_blank"><img src="/load_word.png">&nbsp;&nbsp;{{_ "Download The Attachment"}}</a></p>
                                {{/if}}
                            {{else}}
                                {{_ "No results found!"}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div id="menu" class="col-xs-3" style="border:1px solid #d7d7d7;margin-top: 100px;">
                    <h6 class="text-uppercase bg-eee" align="center" style="font-size: 15px"><strong>{{_ "Latest News"}}</strong></h6>
                    {{#each latestNews}}
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{whichUrl}}">{{{translateThis title.cn title.en}}}</a>
                                {{#if releaseTime}}({{formatDate releaseTime "YYYY-MM-DD"}}){{/if}}
                            </li>
                        </ul>
                    {{else}}
                        {{_ "No results found!"}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>