<template name="pageElement">
    <div class="row">
        <h2>{{getPageTitle key}}</h2>

        <div class="pull-right">
            {{#if can "add-publisher" "publisher" }}
                {{> updatePagesModalForm}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <p>{{{getPageDescription key}}}</p>
    </div>
</template>

<template name="updatePagesModalForm">
    {{#afModal class="fa fa-pencil" collection="Pages" operation="update" doc=getPageId prompt=getPrompt buttonContent=getUpdateButtonContent omitFields="key"}}
    {{/afModal}}
</template>