<template name="pageElement">
    <div class="row">
        {{#if withoutTitle}}
            {{setPageElement key}}
            {{#if can "edit-page-description" "platform"}}
                <div class="pull-right">
                    {{> updatePageElementWithoutTitleModalForm}}
                </div>
            {{/if}}
        {{else}}
            <h2>{{getPageTitle key}}</h2>
            {{#if isMiniPlatform}}
                {{#if miniPlatformPermission}}
                <div class="pull-right">
                    {{> updatePageElementWithTitleModalForm}}
                </div>
            {{/if}}
            {{else}}
                {{#if can "edit-page-description" "platform"}}
                    <div class="pull-right">
                        {{> updatePageElementWithTitleModalForm}}
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}

    </div>
    <div class="row">
        <p>{{{getPageDescription key}}}</p>
    </div>
</template>

<template name="updatePageElementWithoutTitleModalForm">
    {{#afModal class="fa fa-pencil" collection="PageHeadings" operation="update" doc=getPageId prompt=getPrompt buttonContent=getUpdateButtonContent omitFields="key,title"}}
    {{/afModal}}
</template>

<template name="updatePageElementWithTitleModalForm">
    {{#afModal class="fa fa-pencil" collection="PageHeadings" operation="update" doc=getPageId prompt=getPrompt buttonContent=getUpdateButtonContent omitFields="key"}}
    {{/afModal}}
</template>