<template name="dynamicShow">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            <h3 class="dotted"><b>{{_ "Magazine dynamic view"}}&nbsp;:</b></h3>
            <div class="dotted">
                {{> sortByResults}}
            </div>
            <div class="dotted">
                <h4><b>{{_ "Magazine dynamic view"}}：</b></h4>
            </div>
            <div class="dotted">
                {{#each mostMagazines}}
                    <ul class="dotted list-unstyled">
                        <li><p><a href="{{whichUrl}}">{{{translateThis title.cn title.en}}}</a><span class="pull-right">({{formatDate releaseTime "YYYY-MM-DD"}})</span></p></li>
                    </ul>
                {{else}}
                    {{_ "No results found!"}}
                {{/each}}
            </div>
        </div>
    </div>
</template>