<template name="mostCitedArticleFullList">
    <h3 class="dotted"><b>{{_ "Most cited to view"}}</b></h3>

    <div class="dotted">
        {{>sortByDateControl}}
    </div>
    <div class="dotted">
        {{#mathjax}}
        {{#each mostCitedArticles}}
            <ul class="dotted list-unstyled">
                <li>
                    <div class="resultsList">{{> accessKeyImage}}
                        <div><a style="font-size:12px" href="{{urlToArticleById _id}}"><b>{{{translateThis title.cn title.en}}}</b></a></div>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            {{#each authors}}
                                <span class="{{#unless isChinese}}separate-and {{/unless}}separate-comma author-display"> {{> authorPopButton}} </span>
                            {{/each}}
                        </li>
                        <li>
                            <a class="journalTitle" href="{{urlToJournal title.en}}">{{journalName journalId}}</a>
                            {{#if volume}}<b>{{volume}}</b>, {{/if}}
                            {{#if elocationId}}{{elocationId}}{{/if}}
                            {{#if year}}({{year}}){{/if}}
                            <a href="https://doi.org/{{doi}}">{{doi}} <i class="fa fa-external-link"></i></a>
                        </li>
                        {{> abstractDetails}}
                    </ul>
                </li>
            </ul>
        {{/each}}
        {{/mathjax}}
    </div>
</template>