<template name="mostReadArticle">
    <h4 class="dotted"><b>{{_ "Most read articles to view"}}&nbsp;:</b></h4>
    <div class="dotted">
        <label>{{_ "Sort Results By"}}：</label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> {{_ "Relevance"}}
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> {{_ "Newest First"}}
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> {{_ "Oldest First"}}
        </label>
    </div>
    <div class="dotted">
        {{#each mostReadArticles}}
            <ul class="dotted list-unstyled">
                <li>
                    <h4><div class="resultsList">{{> imageName}}<a href="{{urlToArticleById _id}}">{{translateThis title.cn title.en}}</a></div></h4>

                    <ul class="list-unstyled">
                        <li>
                            {{#each authors}}
                            {{> authorPopButton name=getFullName}}
                            {{/each}}
                        </li>
                        <li>
                            <a href="{{urlToJournal title.en}}">{{journalName journalId}}</a> <b>{{volume}}</b>, {{elocationId}} ({{year}})
                            <a href="http://dx.doi.org/{{doi}}">http://dx.doi.org/{{doi}} <i class="fa fa-external-link"></i></a>
                        </li>
                        {{> abstractDetails}}
                    </ul>
                </li>
            </ul>
        {{else}}
            {{_ "No articles found!"}}
        {{/each}}
    </div>
</template>