<template name="mostRecommendArticles">
    <h3 class="dotted"><b>{{_ "Editors recommend to view"}}</b></h3>

    <div class="dotted">
        {{>sortByDateControl}}
    </div>
    <div class="dotted">
        {{#mathjax}}
        {{#each mostRecommendArticles}}
            <ul class="dotted list-unstyled">
                <li>
                    <div class="resultsList">{{> accessKeyImage}}
                        <div><a style="font-size:12px" href="{{urlToArticleById _id}}"><b>{{{translateThis title.cn title.en}}}</b></a></div>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            {{#each authors}}
                                {{> authorPopButton}}
                            {{/each}}
                        </li>
                        <li>
                            <a class="journalTitle" href="{{urlToJournal title.en}}">{{journalName journalId}}</a>
                            <b>{{volume}}</b>, {{elocationId}} {{#if year}}({{year}}){{/if}}
                            <a href="https://doi.org/{{doi}}">{{doi}} <i class="fa fa-external-link"></i></a>
                        </li>
                        {{> abstractDetails}}
                    </ul>
                </li>
            </ul>
        {{else}}
            {{_ "No articles found!"}}
        {{/each}}
        {{/mathjax}}
    </div>
</template>