<template name="JournalTabInPublisher">
    <div class="container-fluid">
        {{> PublicationsAlphabetBar}}
        {{#with publisher}}
            <div class="row">
                <div class="col-xs-12">
                    {{#if permissionCheckWithScope "add-journal" "resource" "publisher" _id}}
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#addPublicationModal">
                            {{_ "Add new"}} <i class="fa fa-plus"></i>
                        </button>
                    {{/if}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div id="subcontent" class="col-xs-12">
                    {{> PublicationList}}
                </div>
            </div>
        {{/with}}
    </div>
    {{> addPublicationForm}}
</template>

<template name="PublicationList">
    <div class="container-fluid">
        <div class="row" style="margin-top: 20px;">
            {{#each publications}}
                {{> SinglePublication}}
            {{else}}
                {{_ "No publications found!"}}
            {{/each}}
            {{> Paginator_UI publications}}
            {{#if publicationPageCount}}
                {{> displayPerPage}}
            {{/if}}
        </div>
    </div>
</template>

<template name="displayPerPage">
    <span class="pull-right">
        {{_ "Display per page"}}:
            <a class="perPage" href="#" data-pagenum="10">10</a>&nbsp;|&nbsp;
            <a class="perPage" href="#" data-pagenum="20">20</a>&nbsp;|&nbsp;
            <a class="perPage" href="#" data-pagenum="50">50</a>
    </span>
</template>

<template name="SinglePublication">
    <div class="row">
        <div class="col-xs-3">
            <a href="{{urlToJournalById _id}}"><img src="{{getImageHelper picture}}" width="105" class="auto-height"/></a>
            <dl class="dl-horizontal journal-summary-small">
                <dt>ISSN : </dt>
                <dd>{{formatissn issn}}</dd>
                <dt>{{_ "Abbr"}} : </dt>
                <dd>{{shortTitle}}</dd>
            </dl>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="pull-right">
                    {{#if permissionCheckWithScope "modify-journal" "resource" "journal" _id}}
                        {{> displayPublication}}
                        {{#afModal class="fa fa-pencil" title=getModalTitle collection="Publications" doc=_id operation="update"
                        fields="title,titleCn,shortTitle,abbrevTitle,publicationDate,chiefEditor,competentOrganization,sponsor,frequencyPublication,included,description,topicId,accessKey,visible,defaultCover,banner,adBanner,adhref,submissionReview,tabSelections,historicalJournals" buttonContent=getUpdateButtonContent}}
                        {{/afModal}}
                    {{/if}}
                    {{#if permissionCheckWithScope "delete-journal" "resource" "publisher" publisher}}
                        <!--<a href="#" class="{{hide}} fa fa-trash"></a>-->
                    {{/if}}
                </div>
                <div class="pub-title">{{> accessKeyImage}}&nbsp;&nbsp;
                    <a href="{{urlToJournalById _id}}">
                        {{translateThis titleCn title}}
                    </a>
                </div>
            </div>
            <div class="row">
                {{> journalDescription}}
                <!--<p>{{translateThis description.cn description.en}}</p>-->
            </div>
        </div>
    </div>
    <hr>
</template>

<template name="displayPublication">
    {{#if visibleIs "1"}}
        <span class="fa fa-eye" style="color: #0c75d2;cursor: pointer"></span>
    {{/if}}
    {{#if visibleIs "0"}}
        <span class="fa fa-eye-slash" style="cursor: pointer"></span>
    {{/if}}
</template>

<template name="accessKeyImage">
    {{#if accessKeyIs "1"}}
        <img src="/icon_access_fc.gif">
    {{/if}}
    {{#if accessKeyIs "2"}}
        <img src="/icon_access_oa.gif">
    {{/if}}
    {{#if accessKeyIs "3"}}
        <img src="/icon_access_sc.gif">
    {{/if}}
    {{#if accessKeyIs "4"}}
        <img src="/icon_access_ft.gif">
    {{/if}}
</template>

<template name="addPublicationForm">
    <div class="modal fade" id="addPublicationModal" role="dialog"
         aria-labelledby="addPublicationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPublicationModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addPublicationModalForm" collection="Publications" type="insert"}}
                    <div class="modal-body">
                        {{> afQuickField name="title"}}
                        {{> afQuickField name="titleCn"}}
                        {{> afQuickField name="shortTitle"}}
                        {{> afQuickField name="abbrevTitle"}}
                        {{> afQuickField name="issn"}}
                        {{> afQuickField name="EISSN"}}
                        {{> afQuickField name="CN"}}
                        {{> afQuickField name="publicationDate"}}
                        {{> afQuickField type="hidden" name="createdBy" value=currentUser.username}}
                        {{> afQuickField name="chiefEditor"}}
                        {{> afQuickField name="competentOrganization"}}
                        {{> afQuickField name="sponsor"}}
                        {{> afQuickField name="frequencyPublication"}}
                        {{> afQuickField name="included" options=getTags}}
                        {{> afQuickField name="language"}}
                        {{> afQuickField name="topicId" options=getTopics}}
                        {{> afQuickField name="description"}}
                        {{> afQuickField name="accessKey"}}
                        {{> afQuickField name="visible"}}
                        {{> afQuickField name="picture"}}
                        {{> afQuickField name="banner"}}
                        {{> afQuickField name="adBanner"}}
                        {{> afQuickField name="adhref"}}
	                    {{> afQuickField name="submissionReview"}}
                        {{> afFieldInput name="tabSelections"}}
                        {{> afQuickField name="historicalJournals"}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
