<template name="council">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="council" isMiniPlatform=true}}
            <div class="row">
                {{#if miniPlatformPermission}}
                <span class="fa fa-plus {{hide}}" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addCouncilModal"></span>{{> addCouncilModalForm}}
                {{/if}}
            </div>
            <hr>
            {{> councilList}}
        </div>
    </div>
</template>

<template name="councilList">
    {{#each councils}}
        <div class="partContent">
            <div align="center"><span class="title-font">{{translateThis title.cn title.en}}</span>
                {{#if miniPlatformPermission}}{{> updateCouncilModalForm}}{{/if}}
                {{#if miniPlatformPermission}}<a href="#" id="couDel" class="fa fa-trash"></a>{{/if}}</div><br>
            <p>{{{translateThis content.cn content.en}}}</p>
        </div>
    {{else}}
        {{_ "No results found!"}}
    {{/each}}
</template>

<template name="updateCouncilModalForm">
    {{#afModal formId=_id class="fa fa-pencil" title=getUpdateButtonContent collection="NewsContact" doc=_id operation="update" omitFields="accordion,releaseTime,createDate,link,fileName,fileId,types"}}{{/afModal}}
</template>

<template name="addCouncilModalForm">
    <div class="modal fade" id="addCouncilModal" role="dialog" aria-labelledby="addCouncilModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addCouncilModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addCouncilModalForm" collection="NewsContact" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="content"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>