<template name="enterpriseCulture">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="enterpriseCulture"}}
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href="#a"><button type="button" class="btn btn-default">新闻动态>></button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href="#b"><button type="button" class="btn btn-default">杂志社动态>></button></a>
                </div>
            </div>
        </div>
    </div>
</template>