<template name="enterpriseCulture">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="enterpriseCulture" isMiniPlatform=true}}
            <!--企业新闻Tab页面-->
            {{#enterCultureTabs name="" tabs=tabs activeTab=activeTab}}
                {{#tabContent slug="enterNews"}}
                    {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniEnterModal"></span><hr>{{> addMiniEnterModalForm}}{{/if}}
                    <div>
                        {{#each enterpriseNews}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a href="{{whichUrl}}" target="_blank">{{{translateThis title.cn title.en}}}</a><span class="pull-right">({{formatDate releaseTime "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateEnterpriseCultureModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="entersDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        <br>
                        <br>
                        {{> Paginator_UI enterpriseNews}}
                        {{#if enterpriseNewsCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                {{/tabContent}}
                <!--编辑园地Tab页面-->
                {{#tabContent slug="editCorner"}}
                    {{#if miniPlatformPermission}}<span class="fa fa-plus" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMiniEditFieldModal"></span><hr>{{> addMiniEditFieldModalForm}}{{/if}}
                    <div>
                        {{#each editFields}}
                            <ul class="dotted list-unstyled">
                                <li>
                                    <p>
                                        <a href="{{whichUrl}}" target="_blank">{{{translateThis title.cn title.en}}}</a><span class="pull-right">({{formatDate releaseTime "YYYY-MM-DD"}})</span>
                                        {{#if miniPlatformPermission}}{{> updateEnterpriseCultureModalForm}}{{/if}}
                                        {{#if miniPlatformPermission}}<a href="#" id="editsDel" class="fa fa-trash"></a>{{/if}}
                                    </p>
                                </li>
                            </ul>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                        <br>
                        <br>
                        {{> Paginator_UI editFields}}
                        {{#if editFieldsCount}}
                            {{> displayPerPage}}
                        {{/if}}
                    </div><hr>
                {{/tabContent}}
            {{/enterCultureTabs}}
        </div>
    </div>
</template>

<template name="enterCultureTabs">
    <div class="enterCultureTabs-container">
        {{#if activeTab}}
            {{trackActiveTab activeTab}}
        {{/if}}
        {{trackTabs tabs}}
        <ul class="nav nav-tabs" role="tablist">
            {{#each tabs}}
                <li role="presentation" class="tab-item {{isActiveTab slug}}">
                    <a role="tab" data-toggle="tab" href="#">{{name}}</a>
                </li>
            {{/each}}
        </ul>
        <div class="tabs-content-container">
            {{> UI.contentBlock context=__context__ }}
        </div>
    </div>
</template>

<template name="updateEnterpriseCultureModalForm">
    {{#afModal class="fa fa-pencil" title=getUpdateButtonContent collection="NewsContact" doc=_id operation="update" omitFields="accordion,fileName,createDate,fileId,types"}}{{/afModal}}
</template>

<template name="addMiniEnterModalForm">
    <div class="modal fade" id="addMiniEnterModal" role="dialog" aria-labelledby="addMiniEnterModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniEnterModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniEnterModalForm" collection="NewsContact" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="releaseTime"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="addMiniEditFieldModalForm">
    <div class="modal fade" id="addMiniEditFieldModal" role="dialog" aria-labelledby="addMiniEditFieldModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMiniEditFieldModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMiniEditFieldModalForm" collection="NewsContact" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="link"}}
                    {{> afQuickField name="releaseTime"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>