<template name="memorabilia">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            {{> pageElement key="memorabilia" isMiniPlatform=true}}
            <div class="row">
                {{#if miniPlatformPermission}}
                <span class="fa fa-plus {{hide}}" style="color: #2b8118;cursor: pointer" data-toggle="modal" data-target="#addMemorabiliaModal"></span>{{> addMemorabiliaModalForm}}
                {{/if}}
            </div>
            <hr>
            {{> memorabiliaList}}
        </div>
    </div>
</template>

<template name="memorabiliaList">
    {{#each memorabilias}}
        <div class="partContent">
            <div align="center"><span style="font-size:24px;">{{translateThis title.cn title.en}}</span>
                {{#if miniPlatformPermission}}{{> updateMemorabiliaModalForm}}{{/if}}
                {{#if miniPlatformPermission}}<a href="#" id="memDel" class="fa fa-trash"></a>{{/if}}</div><br>
            <p>{{{translateThis content.cn content.en}}}</p>
            {{#if accordionExists}}
                <h4>{{accordion.title}}</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {{#each accordion.items}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{@index}}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                                    {{title}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@index}}">
                            <div class="panel-body">
                                {{content}}
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/if}}
        </div>
    {{else}}
        {{_ "No results found!"}}
    {{/each}}
</template>

<template name="updateMemorabiliaModalForm">
    {{#afModal formId=_id class="fa fa-pencil" title=getUpdateButtonContent collection="NewsContact" doc=_id operation="update" omitFields="releaseTime,createDate,link,fileName,fileId,types"}}{{/afModal}}
</template>

<template name="addMemorabiliaModalForm">
    <div class="modal fade" id="addMemorabiliaModal" role="dialog" aria-labelledby="addMemorabiliaModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addMemorabiliaModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addMemorabiliaModalForm" collection="NewsContact" type="insert"}}
                <div class="modal-body">
                    {{> afQuickField name="title"}}
                    {{> afQuickField name="content"}}
                    {{> afQuickField name="accordion"}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>