<template name="Publishers">
  <div class="page-container container">
    <div class="row">
     <h2>{{_"Publishers"}}</h2>
   </div>
   <div class="row">
    <p>{{_"Introductory text"}}</p>
  </div>
  <div class="row">
    {{#if isAdmin }}

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      add new
    </button>
    {{/if}}
  </div>
  <hr>
  <div class="row">
    {{> PublisherList}}

  </div>
</div>
{{> addPublisherForm}}
</template>

<template name="PublisherList">
  {{#each publishers}}
  {{> SinglePublisher}}
  {{else}}
  {{_"No publishers found!"}}
  {{/each}}
</template>

<template name="showImage">
<img src="{{getImage this.picture}}" />
</template>

<template name="SinglePublisher">
  <div class="row">
    <div class="col-xs-3">
      <a href="/publishers/{{name}}">
        {{> showImage}}
      </a>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <h3><a class="text" href="/publishers/{{name}}">{{name}}</a>
          {{#if isAdmin }}
          {{> updatePublisherModalForm}}
          {{> deletePublisherModalForm}}
          {{/if}}
        </h3>
      </div>
      <div class="row">
        {{description}}
      </div>
    </div>
  </div>
  <hr>
</template>
<template name="addPublisherModalForm">
  {{#afModal class="fa fa-plus btn btn-success" collection="Publishers"  operation="insert"}}
  {{_ "Add new"}}
  {{/afModal}}
</template>
<template name="updatePublisherModalForm">
  {{#afModal class="fa fa-pencil" title="Update" collection="Publishers" doc=_id operation="update"}}
  {{/afModal}}
</template>
<template name="deletePublisherModalForm">
  {{#afModal class="fa fa-trash" collection="Publishers" operation="remove" doc=_id prompt=getPrompt}}
  {{/afModal}}
</template>


<template name="addPublisherForm">


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
        {{#autoForm id="testForm" collection="Publishers" type="insert"}}
         {{> afQuickField name="name"}}
         {{> afQuickField name="chinesename"}}
         {{> afQuickField name="website"}}
         {{> afQuickField name="description"}}
         {{> afQuickField name="chinesedescription"}}
         {{> afQuickField name="picture"}}
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save changes</button>
         <!--   <button type="submit" class="btn btn-primary">Insert</button> -->
         {{/autoForm}}

       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</template>