<template name="Publishers">
    <div class="container-fluid">
        {{> pageElement key="publisher"}}
        <div class="row">
            {{#if can "add-publisher" "publisher" }}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPublisherModal">
                    {{_ "Add new"}} <i class="fa fa-plus"></i>
                </button>
            {{/if}}
        </div>
        <hr>
        <div class="row">
            {{> PublisherList}}
        </div>
    </div>
    {{> addPublisherForm}}
</template>

<template name="PublisherList">
    {{#each publishers}}
        {{> SinglePublisher}}
    {{else}}
        {{_ "No publishers found!"}}
    {{/each}}
</template>

<template name="showImage">
    <img src="{{getImageHelper picture}}"/>
</template>

<template name="SinglePublisher">
    <div class="row">
        <div class="col-xs-3">
            <a href="{{pathFor 'publisher.name' publisherName=name}}">
                <img src="{{getImageHelper picture}}" width="105"/>
            </a>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="pull-right">
                    {{#if permissionCheckWithScope "modify-publisher" "publisher" "publisher" _id}}
                        {{> updatePublisherModalForm}}
                    {{/if}}
					{{#if can "delete-publisher" "publisher"}}
                        {{#unless hasNoJournals _id}}
                            <a href="#" class="fa fa-trash"></a>
                        {{/unless}}
                    {{/if}}
                </div>
                <h3>
                    <a class="text" href="{{pathFor 'publisher.name' publisherName=name}}">
                        {{translateThis chinesename name}}
                    </a>
                </h3>
            </div>
            <div class="row">
                {{#if i18n_isCurrentLanguage 'en'}}
                    {{description}}
                {{else}}
                    {{chinesedescription}}
                {{/if}}
            </div>
        </div>
    </div>
    <hr>
</template>


<template name="updatePublisherModalForm">
    {{#afModal class="fa fa-pencil" title=getTitle collection="Publishers" doc=_id operation="update" buttonContent=getUpdateButtonContent}}
    {{/afModal}}
</template>

<template name="addPublisherForm">
    <div class="modal fade" id="addPublisherModal" role="dialog" aria-labelledby="addPublisherModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPublisherModalLabel">{{_ "Add new"}}</h4>
                </div>
                {{#autoForm id="addPublisherModalForm" collection="Publishers" type="insert"}}
                    <div class="modal-body">
                        {{> afQuickField name="name"}}
                        {{> afQuickField name="chinesename"}}
                        {{> afQuickField name="website"}}
                        {{> afQuickField name="description"}}
                        {{> afQuickField name="chinesedescription"}}
                        {{> afQuickField name="picture"}}
                        {{> afQuickField name="agree"}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{_ "Create"}}</button>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
