<template name="ShowPublisher">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <a href="{{notUrl}}"><img src="{{getImageHelper picture}}" width="137"/></a>
            </div>
            <div class="col-xs-9">
                <h2>
                    {{translateThis chinesename name}}
                </h2>
                {{#if i18n_isCurrentLanguage 'en'}}
                    {{description}}
                {{else}}
                    {{chinesedescription}}
                {{/if}}
                {{> PublisherWebsite}}
            </div>
        </div>
        <br/>
        <br/>

        <div class="row">
            {{> publisherOptions}}
        </div>
    </div>

</template>

<template name="PublisherWebsite">
    {{#if website}}
        <p>
            <a href="{{website}}">
                {{_ "Home page for"}}
                {{translateThis chinesename name}}
                <i class="fa fa-external-link"></i></a>
        </p>

    {{/if}}
</template>

<template name="publisherOptions">
    {{#publisherTabs name="" tabs=tabs activeTab=activeTab}}
        {{#tabContent slug="journals"}}
            {{> JournalTabInPublisher}}
        {{/tabContent}}

        {{#tabContent slug="collections"}}
            {{> collections}}
        {{/tabContent}}

    {{/publisherTabs}}

</template>

<template name="publisherTabs">

    <div class="publisherTabs-container">

        {{#if activeTab}}
            {{trackActiveTab activeTab}}
        {{/if}}

        {{trackTabs tabs}}

        <ul class="nav nav-tabs" role="tablist">
            {{#each tabs}}
                <li role="presentation" class="tab-item {{isActiveTab slug}}">
                    <a role="tab" data-toggle="tab" href="#">{{name}}</a>
                </li>
            {{/each}}
        </ul>

        <div class="tabs-content-container">
            {{> UI.contentBlock context=__context__ }}
        </div>
    </div>
</template>