<template name="navigation">
    <div class="col-xs-2">
        <a href="/home">
            <img src="/logo_scp_transparent.png" alt="SCP" width="150">
        </a>
    </div>
    <div class="col-xs-10">
        <nav>
            <div class="container-fluid">
                {{>SearchBar}}
            </div>
        </nav>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar">
                    {{> LeftMenu}}
                    {{> PublicLayoutRightMenu}}
                </div>
            </div>
        </nav>
    </div>
</template>

<template name="LeftMenu">
    <ul id="nav-items" class="nav navbar-nav">
        {{#if hasPublishers}}
        <li id="nav-item-dropdown" class="dropdown navbar-left-button {{menuItemClass 'publishers'}}">
            <a href="/publishers" class="dropdown-toggle">
                {{_ "Publishers"}}
                <b class="caret">
                </b>
            </a>
            <ul id="dropdown-nav-items" class="dropdown-menu">
                {{#each publishers}}
                <li>
                    <a href="/publisher/{{name}}" >
                        {{translateThis chinesename name}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{else}}
        <li id="menu-item-simple-left" class="navbar-left-button {{menuItemClass 'publishers'}}">
            <a href="{{pathFor 'publishers'}}">
                {{_ "Publishers"}}
            </a>
        </li>
        {{/if}}
        <li id="menu-item-simple-left" class="navbar-left-button {{menuItemClass 'publications'}}">
            <a href="{{pathFor 'publications'}}">
                {{_ "Publications"}}
            </a>
        </li>
        <li id="menu-item-simple-left" class="navbar-left-button {{menuItemClass 'topics'}}">
            <a href="{{pathFor 'topics'}}">
                {{_ "Topics"}}
            </a>
        </li>
        <li id="menu-item-simple-left" class="navbar-left-button {{menuItemClass 'collections'}}">
            <!-- <a href="{{pathFor 'collections'}}"> -->
            <a href="#" >
                {{_ "Collections"}}
            </a>
        </li>
        <li id="menu-item-simple-left" class="navbar-left-button {{menuItemClass 'author'}}">
            <!-- <a href="{{pathFor 'author'}}"> -->
            <a href="#" >
                {{_ "Author"}}
            </a>
        </li>
    </ul>
</template>

<template name="PublicLayoutRightMenu">
    <ul id="nav-items" class="nav navbar-nav navbar-right">
        <li id="menu-item-simple-right" class="navbar-right-button">
            <a href="#">
                <i class="fa fa-search-plus"></i> {{_ "Quick Search"}}
            </a>
        </li>
        <li id="menu-item-simple-right" class="navbar-right-button">
            <a href="#">
                <i class="fa fa-windows"></i> {{_ "Advanced Search"}}
            </a>
        </li>
    </ul>
</template>

