<template name="showNewsArticle">
    <div class="row articleHeading">
        {{#each newsArticles}}
            <div align="center">
                <div class="pull-right">
                    {{#if can "modify-news" "resource"  }}{{> updateNewsCenterModalForm}}{{/if}}
                </div>
                <h3>{{translateThis title.cn title.en}}</h3><br>
                <h6>{{_ "Published online"}}&nbsp;：{{formatDate createDate "YYYY-MM-DD HH:mm:ss"}}&nbsp;&nbsp;&nbsp;&nbsp;{{_ "Author"}}&nbsp;：{{translateThis author.cn author.en}}</h6><br>
            </div>
            <div class="col-xs-9" style="margin-left:110px;">
                <h4>{{{translateThis content.cn content.en}}}</h4>
            </div>
        {{else}}
        {{_ "No results found!"}}
        {{/each}}
    </div>
</template>