<template name="showNewsArticle">
    {{#each newsArticles}}
        <div class="part">
            <div align="center"><span style="font-size:24px;">{{translateThis title.cn title.en}}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{#if can "modify-news" "resource"  }}{{> updateNewsCenterModalForm}}{{/if}}</div><br>
            <p class="text-center">{{_ "Published online"}}：{{formatDate createDate "YYYY-MM-DD HH:mm:ss"}}&nbsp;&nbsp;&nbsp;&nbsp;浏览次数：2533&nbsp;&nbsp;&nbsp;&nbsp;{{_ "Author"}}：{{translateThis author.cn author.en}}</p><br>
            <p align="text-center" style="margin-left: 1.5%">{{{translateThis content.cn content.en}}}</p>
        </div>
    {{else}}
        {{_ "No results found!"}}
    {{/each}}
</template>