body{
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-color: #FFF;
}

#content{
    background: white;
}

#footer{
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-color: #FFF;
}
