body{
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-color: #E8E8EA;
}

#white-content-area{
    background: white;
    padding-bottom: 30px;
}

#footer{
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-color: #FFF;
}
.breadcrumb {
  background-color: #fff;
}
a.fa-plus {
    color: green;
}
a.fa-pencil {
    color: orange;
}
a.fa-trash {
    color: red;
}
#iron-router-progress {
    background-color : #06a4d1;
    box-shadow       : 0 0 1px #000;
}
#iron-router-progress.spinner:before {
    border-color : #06a4d1;
}
