body{
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-color: #FFF;
}

#white-content-area{
    background: white;
}

#footer{
    background-image: url("background.png");
    background-repeat: repeat-x;
    background-color: #FFF;
}
.breadcrumb {
  background-color: #fff;
}
