<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="/favicon.png" type="image/x-icon" rel="icon"/>
	<title>
        SCP
    </title>
</head>


<template name="layout">
    <div id="wrap">
        {{> languageBar}}
        <div class="container">
            <div class="row">
                {{> navigation}}
            </div>
            <div class="row white-content-area">
                <div class="col-xs-10" id="main">
                    {{> breadcrumb}}
                    {{> flashMessages}}
                    {{> yield}}
	                {{> recentReadAndSearchContainer}}
                </div>
                <div class="col-xs-2">
                    <div id="sidebar">
                        {{> LayoutSideBar}}
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
	    {{> autoformModals}}
	    {{> jkautoformModals}}
    </div>
	<div id="footer">

		<div class="footer-container container">
			<p class="text-muted">

			<div class="row">
				<div class="col-xs-8">

					PT 北京 - 中国科学的团队 - 杰克，蒋凯，杨冬冬，崔显，刘奇，李楠，黄新华，杨鹤，冯素晶，刘桐

				</div>
				<div class="col-xs-4">
					{{_ "Last release was"}}
				</div>
			</div>
			</p>
		</div>
	</div>
    <!--<script type="text/javascript">-->
        <!--window._pt_lt = new Date().getTime();-->
        <!--window._pt_sp_2 = [];-->
        <!--_pt_sp_2.push('setAccount,47594141');-->
        <!--var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
        <!--(function() {-->
            <!--var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;-->
            <!--atag.src = _protocol + 'js.ptengine.com/pta.js';-->
            <!--var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;-->
            <!--stag.src = _protocol + 'js.ptengine.com/pts.js';-->
            <!--var s = document.getElementsByTagName('script')[0];-->
            <!--s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);-->
        <!--})();-->
    <!--</script>-->
</template>


