<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/favicon.png" type="image/x-icon" rel="icon"/>
    <title>
        SCP
    </title>
</head>


<template name="layout">
    <div id="wrap">
        {{> languageBar}}
        <div class="container">
            <div class="row">
                {{> navigation}}
            </div>
            <div class="row white-content-area">
                <div class="col-xs-10" id="main">
                    {{> breadcrumb}}
                    {{> flashMessages}}
                    {{> yield}}
                    {{> recentReadAndSearchContainer}}
                </div>
                <div class="col-xs-2">
                    <div id="sidebar">
                        {{> LayoutSideBar}}
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        {{> autoformModals}}
        {{> jkautoformModals}}
    </div>
    <div id="footer">

        <div class="footer-container container">
            <p class="text-muted">

            <div class="row">
                <div class="col-xs-8">
                    <span class="text-muted">
					PT 北京 - 中国科学的团队 - 杰克，蒋凯，杨冬冬，崔显，刘奇，李楠，黄新华，杨鹤，冯素晶，刘桐
                    </span>
                </div>
                <div class="col-xs-4">
                    <!--中国科技出版传媒股份有限公司-->
                    {{#unless developerModeEnabled}}
                        {{_ "Last release was"}} {{>deployDate}}
                    {{/unless}}
                </div>
            </div>
            </p>
        </div>
    </div>
</template>


