<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		SCP
	</title>
</head>

<template name="layout">
	<div id="wrap">
		{{> navigation}}
		<div class="navbar-spacer">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-xs-9">
					{{> breadcrumb}}
					<div id="content">
						{{> flashMessages}}
						{{> yield}}

					</div>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<div class="sidebar-module">
						{{> LayoutSideBar}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer-container container">
			<p class="text-muted">
				Prototype by Jack
			</p>
		</div>
	</div>
</template>

<template name="navigation">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					SCP
				</a>
			</div>
			<div id="menu" class="collapse navbar-collapse">
				{{> LeftMenu}}
				{{#if currentUser}}
				{{> PrivateLayoutRightMenu}}
				{{else}}
				{{> PublicLayoutRightMenu}}
				{{/if}}
			</div>
		</div>
	</nav>
</template>

<template name="LayoutSideBar">
	<br/>
	<ul class="list-unstyled">
		<li>{{> i18n_buttons}}</li>
		<li><a href="#">{{_ "ScholarOne"}}</a></li>
		<li><a href="#">{{_ "ChineseScholarOne"}}</a></li>
	</ul>
</template>

<template name="LeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'publishers'}}">
			<a href="{{pathFor 'publishers'}}">
				{{_ "Publishers"}}
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'publications'}}">
			<a href="{{pathFor 'publications'}}">
				{{_ "Publications"}}
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'topics'}}">
			<a href="{{pathFor 'topics'}}">
				{{_ "Topics"}}
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'collections'}}">
			<a href="{{pathFor 'collections'}}">
				{{_ "Collections"}}
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				{{_ "Reader Centre"}}
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
			<a href="{{pathFor 'register'}}">
				{{_ "Register"}}
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				{{_ "Login"}}
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{userEmail}}
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				{{#if isAdmin}}
				<li class="{{menuItemClass 'admin'}}">
					<a href="{{pathFor 'admin'}}">
						{{_ "Admin"}}
					</a>
				</li>
				{{/if}}
				<li class="{{menuItemClass 'user_settings'}}">
					<a href="{{pathFor 'user_settings'}}">
						{{_ "Settings"}}
					</a>
				</li>
				<li class="{{menuItemClass 'logout'}}">
					<a href="{{pathFor 'logout'}}">
						{{_ "Log Out"}}
					</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

