<template name="navigation">
    <div class="col-xs-2">
        <a href="/home_private">
            <img src="/logo_scp_transparent.png" alt="SCP" width="150">
        </a>
    </div>
    <div class="col-xs-10">
        <nav>
            <div class="container-fluid">
                <form class="navbar-form pull-right" role="search" name="search" action="search" method="post">
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder='{{_ "Search"}}'>
                     <span class="input-group-btn">
                         <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                         </button>
                     </span>
                 </div>
             </form>
         </div>
     </nav>
     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar">
                {{> LeftMenu}}
                {{#if currentUser}}
                {{> PrivateLayoutRightMenu}}
                {{else}}
                {{> PublicLayoutRightMenu}}
                {{/if}}
            </div>
        </div>
    </nav>
</div>
</template>

<template name="LeftMenu">
    <ul id="menu-items" class="nav navbar-nav">
        {{#if hasPublishers}}
        <li id="menu-item-dropdown" class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{_ "Publishers"}}
                <b class="caret">
                </b>
            </a>
            <ul id="menu-items" class="dropdown-menu">
            {{#each publishers}}
                <li>
                    <a href="/publisher/{{name}}">
                        {{translateThis chinesename name}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{else}}
        <li id="menu-item-simple" class="{{menuItemClass 'publishers'}}">
            <a href="{{pathFor 'publishers'}}">
                {{_ "Publishers"}}
            </a>
        </li>
        {{/if}}
        <li id="menu-item-simple" class="{{menuItemClass 'publications'}}">
            <a href="{{pathFor 'publications'}}">
                {{_ "Publications"}}
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'topics'}}">
            <a href="{{pathFor 'topics'}}">
                {{_ "Topics"}}
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'collections'}}">
            <a href="{{pathFor 'collections'}}">
                {{_ "Collections"}}
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'author'}}">
            <a href="{{pathFor 'author'}}">
                {{_ "Author"}}
            </a>
        </li>
    </ul>
</template>

<template name="PublicLayoutRightMenu">
    <ul id="menu-items" class="nav navbar-nav navbar-right">
        <li id="menu-item-simple" class="{{menuItemClass 'register'}}">
            <a href="{{pathFor 'register'}}">
                {{_ "Register"}}
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'login'}}">
            <a href="{{pathFor 'login'}}">
                {{_ "Login"}}
            </a>
        </li>
    </ul>
</template>

<template name="PrivateLayoutRightMenu">
    <ul id="menu-items" class="nav navbar-nav navbar-right">
        <li id="menu-item-dropdown" class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{userEmail}}
                <b class="caret">
                </b>
            </a>
            <ul id="menu-items" class="dropdown-menu">
                {{#if isAdmin}}
                <li class="{{menuItemClass 'admin'}}">
                    <a href="{{pathFor 'admin'}}">
                        {{_ "Admin"}}
                    </a>
                </li>
                {{/if}}
                <li class="{{menuItemClass 'user_settings'}}">
                    <a href="{{pathFor 'user_settings'}}">
                        {{_ "Settings"}}
                    </a>
                </li>
                <li class="{{menuItemClass 'logout'}}">
                    <a href="{{pathFor 'logout'}}">
                        {{_ "Log Out"}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</template>
