<template name="LayoutSideBar">
    <br/>
    <ul class="list-unstyled">
        <li><a href="#">{{_ "ScholarOne"}}</a></li>
        <li><a href="#">{{_ "ChineseScholarOne"}}</a></li>
        <hr>
        <h4>{{_ "Access Key"}}&nbsp;:</h4>
        <li><img src="/icon_access_fc.gif">&nbsp;&nbsp;{{_ "Free Content"}}</li>
        <li><img src="/icon_access_oa.gif">&nbsp;&nbsp;{{_ "Open Access Content"}}</li>
        <li><img src="/icon_access_sc.gif">&nbsp;&nbsp;{{_ "Subscribed Content"}}</li>
        <li><img src="/icon_access_ft.gif">&nbsp;&nbsp;{{_ "Free Trial Content"}}</li>
        <hr>
    </ul>
</template>
