<template name="toggleField">
    {{#if notEmptyField}}
        <p>
            <i class="fa fa-plus" data-toggle="collapse" data-target="#toggle{{_id}}"></i>
            <a style="font-size:12px;cursor: pointer" type="button" data-toggle="collapse" data-target="#toggle{{_id}}"
               aria-expanded="false" aria-controls="toggle{{_id}}"> {{_ "Details"}}</a>
        </p>

        <div style="font-size:12px" class="collapse" id="toggle{{_id}}">
            <ul class="list-unstyled">
                <li>{{{getContent field}}}</li>
            </ul>
        </div>
    {{/if}}
</template>
<template name="scibreadcrumb">
    <ol class="breadcrumb">
        {{#each Breadcrumb}}
            <li class="{{cssClasses}}">
                {{#if showLink}}
                    <a href="{{url}}">{{title}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ol>
</template>
<template name="toggleFieldBrowse">
    {{#if notEmptyField}}
        <p>
            <i class="fa fa-plus" data-toggle="collapse" data-target="#toggle{{_id}}"></i>
            <a style="cursor: pointer" type="button" data-toggle="collapse" data-target="#toggle{{_id}}" aria-expanded="false" aria-controls="toggle{{_id}}"> {{_ "Details"}}</a>
        </p>

        <div class="collapse" id="toggle{{_id}}">
            <ul class="list-unstyled">
                <li>{{{getContent field}}}</li>
            </ul>
            <!--<ul class="list-unstyled">-->
                <!--<li><a class="emailThis" href="" data-toggle="modal" data-doi="{{doi}}" data-target="#sendEmailModal"><i class="fa fa-envelope"></i> {{_ "Email This"}}</a></li>-->
            <!--</ul>-->
        </div>
    {{/if}}
</template>

<template name="sendEmailModalForm">
    <div class="modal fade" id="sendEmailModal" role="dialog" aria-labelledby="sendEmailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="sendEmailModalLabel">{{_ "emailThis"}}</h4>
                </div>
                {{> sendEmails}}
            </div>
        </div>
    </div>
</template>

<template name="sendEmails">
    {{#autoForm schema="EmailsSchema" id="sendEmailsModalForm" type="method" meteormethod="emailThis"}}
        <div class="modal-body">
            {{> afQuickField name="sender" value=getEmail}}
            {{> afQuickField name="recipient"}}
            {{> afQuickField name="reasons"}}
            {{> afFieldInput name='url' value=getCurrentUrl}}
            {{> afFieldInput name='doi' value=getDoi}}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{_ "Send"}}</button>
        </div>
    {{/autoForm}}
</template>