<template name="toggleField">
    {{#if field}}
        <p>
            <i class="fa fa-plus" type="button" data-toggle="collapse" data-target="#toggle{{_id}}"
               aria-expanded="false" aria-controls="toggle{{_id}}"> {{_ "Details"}}: </i>
        </p>

        <div class="collapse" id="toggle{{_id}}">
            <ul class="list-unstyled">
                <li>{{{getContent field}}}</li>
            </ul>
        </div>
    {{/if}}
</template>

<template name="toggleFieldBrowse">
    {{#if field}}
    <p>
        <i class="fa fa-plus" type="button" data-toggle="collapse" data-target="#toggle{{_id}}"
           aria-expanded="false" aria-controls="toggle{{_id}}"> {{_ "Details"}}: </i>
    </p>

    <div class="collapse" id="toggle{{_id}}">
        <ul class="list-unstyled">
            <li>{{{field}}}</li>
        </ul>
        <ul class="list-unstyled">
           <a href="{{pathFor 'emails'}}"> <li>{{_ "Email this"}}</li></a>
        </ul>
    </div>
    {{/if}}
</template>