<template name="test">
	<h4>latex</h4>
	{{#mathjax}}
		<p>
			{{{
			tex
			}}}
		</p>
	{{/mathjax}}
	<h4>mathml</h4>

	{{#mathjax}}
		<p>
			<disp-formula id="MATH13920154156740">
				<math display="block">
					<mrow>
						<munder accentunder="">
							<mi>α</mi>
							<mo>_</mo>
						</munder>
						<mo>≤</mo>
						<mi>α</mi>
						<mo>≤</mo>
						<mover accent="">
							<mi>α</mi>
							<mo>¯</mo>
						</mover>
						<mtext>,</mtext>
					</mrow>
				</math>
			</disp-formula>
		</p>
		<p content-type="inline">the dynamic eigenvalue equation of an undamped
			structural system in the finite element method can be written as follows:</p>

		<p>
			<table-wrap content-type="dispformula">
				<table>
					<tbody>
					<tr>
						<td align="center">
							<disp-formula id="MATH13920154156741">
								<math display="block">
									<mrow>
										<mi>K</mi>
										<mo stretchy="">(</mo>
										<mi>α</mi>
										<mo stretchy="">)</mo>
										<mi>u</mi>
										<mo>=</mo>
										<mi>λ</mi>
										<mi>M</mi>
										<mo stretchy="">(</mo>
										<mi>α</mi>
										<mo stretchy="">)</mo>
										<mi>u</mi>
										<mo>,</mo>
									</mrow>
								</math>
							</disp-formula>
						</td>
						<td align="right">(2)</td>
					</tr>
					</tbody>
				</table>
			</table-wrap>
		</p>
		<p content-type="inline">where
			<inline-formula>
				<math display="inline">
					<mrow>
						<mi>α</mi>
						<mo>=</mo>
						<msub>
							<mrow>
								<mrow>
									<mo>(</mo>
									<mrow>
										<msub>
											<mi>α</mi>
											<mi mathsize="2pt">i</mi>
										</msub>
									</mrow>
									<mo>)</mo>
								</mrow>
							</mrow>
							<mi mathsize="6pt">m</mi>
						</msub>
					</mrow>
				</math>
			</inline-formula>
			is a vector
			<disp-formula>
				<math display="inline">
					<mi>m</mi>
				</math>
			</disp-formula>
			used to denote all the parameters of the vibration system;
			<table-wrap content-type="dispformula">
				<table>
					<tbody>
					<tr>
						<td align="center">
							<disp-formula>
								<math display="inline">
									<mi>m</mi>
								</math>
							</disp-formula>
						</td>
						<td align="right"></td>
					</tr>
					</tbody>
				</table>
			</table-wrap>
			is the number of the parameters;
			<bold><i>K</i></bold>
			(
			<x content-type="symbolitalic">
				<bold>a</bold>
			</x>
			) and
			<bold><i>M</i></bold>
			(
			<x content-type="symbolitalic">
				<bold>a</bold>
			</x>
			) are the stiffness matrix and mass matrix, respectively;
			<x content-type="symbolitalic">l</x>
			=
			<x content-type="symbolitalic">w</x>
			<sup>2</sup> stands for the eigenvalue;
			<x content-type="symbolitalic">w</x>
			denotes the natural frequency of the structure and
			<bold><i>u</i></bold>
			is the corresponding eigenvector.
		</p>
	{{/mathjax}}
</template>
