<template name="test">
	<h4>latex</h4>
	{{#mathjax}}
		<p>
			\begin{equation}
			\theta = \pm \theta _{\max } \cdot \sin (2\pi ft),
			\end{equation}
		</p>
	{{/mathjax}}
	<h4>mathml</h4>
	{{#mathjax}}
		<p>
			<math display="block" overflow="scroll">
				<mrow>
					<mi>θ</mi>
					<mo>=</mo>
					<mo>±</mo>
					<msub>
						<mi>θ</mi>
						<mi>max</mi>
					</msub>
					<mo>·</mo>
					<mi>sin</mi>
					<mrow>
						<mo>(</mo>
						<mn>2</mn>
						<mi>π</mi>
						<mi>f</mi>
						<mi>t</mi>
						<mo>)</mo>
					</mrow>
					<mo>,</mo>
				</mrow>
			</math>
		</p>
	{{/mathjax}}
</template>