<template name="test">
	<h4>latex</h4>
	{{#mathjax}}
		<p>
			{{{
			tex
			}}}
		</p>
	{{/mathjax}}
	<h4>mathml</h4>
	{{#mathjax}}
		<math>
			<mtable>
				<mtr>
					<mtd>
						<mfrac>
							<mrow>
								<mtext>d</mtext>
								<mi>W</mi>
							</mrow>
							<mrow>
								<mtext>d</mtext>
								<msub>
									<mi>&#x3b6;</mi>
									<mi mathsize="6pt">i</mi>
								</msub>
							</mrow>
						</mfrac>
						<mo>=</mo>
						<msubsup>
							<mi>U</mi>
							<mtext mathsize="6pt">n</mtext>
							<mo mathsize="6pt">*</mo>
						</msubsup>
						<mfrac>
							<mrow>
								<mtext>d</mtext>
								<mi>Z</mi>
							</mrow>
							<mrow>
								<mtext>d</mtext>
								<msub>
									<mi>&#x3b6;</mi>
									<mi mathsize="6pt">i</mi>
								</msub>
							</mrow>
						</mfrac>
						<msub>
							<mi>U</mi>
							<mtext mathsize="6pt">n</mtext>
						</msub>
						<mo>+</mo>
						<mn>2</mn>
						<msubsup>
							<mi>U</mi>
							<mtext mathsize="6pt">n</mtext>
							<mo mathsize="6pt">*</mo>
						</msubsup>
						<mi>Z</mi>
						<mfrac>
							<mrow>
								<mtext>d</mtext>
								<msub>
									<mi>U</mi>
									<mtext mathsize="6pt">n</mtext>
								</msub>
							</mrow>
							<mrow>
								<mtext>d</mtext>
								<msub>
									<mi>&#x3b6;</mi>
									<mi mathsize="6pt">i</mi>
								</msub>
							</mrow>
						</mfrac>
					</mtd>
				</mtr>
				<mtr>
					<mtd>
						<mtext>&#xa0;</mtext>
						<mo>+</mo>
						<msubsup>
							<mi>&#x39b;</mi>
							<mn mathsize="6pt">1</mn>
							<mtext mathsize="6pt">T</mtext>
						</msubsup>
						<mrow>
							<mo>(</mo>
							<mrow>
								<mrow>
									<mo>(</mo>
									<mrow>
										<mi>K</mi>
										<mo>+</mo>
										<msub>
											<mi>K</mi>
											<mtext mathsize="6pt">G</mtext
													>
										</msub>
										<mo>&#x2212;</mo>
										<msup>
											<mrow>
												<mi>&#x3c9;</mi>
											</mrow>
											<mstyle mathsize="6pt">
												<mrow>
													<mn>2</mn>
												</mrow>
											</mstyle>
										</msup>
										<mi>M</mi>
									</mrow>
									<mo>)</mo>
								</mrow>
								<mfrac>
									<mrow>
										<mtext>d</mtext>
										<mi>U</mi>
									</mrow>
									<mrow>
										<mtext>d</mtext>
										<msub>
											<mi>&#x3b6;</mi>
											<mi mathsize="6pt">i</mi>
										</msub>
									</mrow>
								</mfrac>
							</mrow>
						</mrow>
					</mtd>
				</mtr>
				<mtr>
					<mtd>
						<mtext>&#xa0;</mtext>
						<mrow>
							<mrow>
								<mo>+</mo>
								<mrow>
									<mo>(</mo>
									<mrow>
										<mfrac>
											<mrow>
												<mtext>d</mtext>
												<mi>K</mi>
											</mrow>
											<mrow>
												<mtext>d</mtext>
												<msub>
													<mi>&#x3b6;</mi>
													<mi mathsize="6pt">i</mi>
												</msub>
											</mrow>
										</mfrac>
										<mo>+</mo>
										<mfrac>
											<mrow>
												<mtext>d</mtext>
												<msub>
													<mi>K</mi>
													<mtext mathsize="6pt">G</mtext>
												</msub>
											</mrow>
											<mrow>
												<mtext>d</mtext>
												<msub>
													<mi>&#x3b6;</mi>
													<mi mathsize="6pt">i</mi>
												</msub>
											</mrow>
										</mfrac>
										<mo>&#x2212;</mo>
										<msup>
											<mrow>
												<mi>&#x3c9;</mi>
											</mrow>
											<mstyle mathsize="6pt">
												<mrow>
													<mn>2</mn>
												</mrow>
											</mstyle>
										</msup>
										<mfrac>
											<mrow>
												<mtext>d</mtext>
												<mi>M</mi>
											</mrow>
											<mrow>
												<mtext>d</mtext>
												<msub>
													<mi>&#x3b6;</mi>
													<mi mathsize="6pt">i</mi>
												</msub>
											</mrow>
										</mfrac>
										<mo>&#x2212;</mo>
										<mfrac>
											<mrow>
												<mtext>d</mtext>
												<msup>
													<mrow>
														<mi>&#x3c9;</mi>
													</mrow>
													<mstyle mathsize="6pt">
														<mrow>
															<mn>2</mn>
														</mrow>
													</mstyle>
												</msup>
											</mrow>
											<mrow>
												<mtext>d</mtext>
												<msub>
													<mi>&#x3b6;</mi>
													<mi mathsize="6pt">i</mi>
												</msub>
											</mrow>
										</mfrac>
										<mi>M</mi>
									</mrow>
									<mo>)</mo>
								</mrow>
								<mi>U</mi>
							</mrow>
							<mo>)</mo>
						</mrow>
					</mtd>
				</mtr>
				<mtr>
					<mtd>
						<mtext>&#xa0;</mtext>
						<mo>+</mo>
						<msubsup>
							<mi>&#x39b;</mi>
							<mn mathsize="6pt">2</mn>
							<mtext mathsize="6pt">T</mtext>
						</msubsup>
						<mrow>
							<mo>(</mo>
							<mrow>
								<mfrac>
									<mrow>
										<mtext>d</mtext>
										<mi>K</mi>
									</mrow>
									<mrow>
										<mtext>d</mtext>
										<msub>
											<mi>&#x3b6;</mi>
											<mi mathsize="6pt">i</mi>
										</msub>
									</mrow>
								</mfrac>
								<msub>
									<mi>U</mi>
									<mtext mathsize="6pt">t</mtext>
								</msub>
								<mo>+</mo>
								<mi>K</mi>
								<mfrac>
									<mrow>
										<mtext>d</mtext>
										<msub>
											<mi>U</mi>
											<mtext mathsize="6pt">t</mtext>
										</msub>
									</mrow>
									<mrow>
										<mtext>d</mtext>
										<msub>
											<mi>&#x3b6;</mi>
											<mi mathsize="6pt">i</mi>
										</msub>
									</mrow>
								</mfrac>
								<mo>&#x2212;</mo>
								<mfrac>
									<mrow>
										<mtext>d</mtext>
										<msub>
											<mi>F</mi>
											<mtext mathsize="6pt">t</mtext>
										</msub>
									</mrow>
									<mrow>
										<mtext>d</mtext>
										<msub>
											<mi>&#x3b6;</mi>
											<mi mathsize="6pt">i</mi>
										</msub>
									</mrow>
								</mfrac>
							</mrow>
							<mo>)</mo>
						</mrow>
						<mo>.</mo>
					</mtd>
				</mtr>
			</mtable>
		</math>
	{{/mathjax}}

	{{#mathjax}}
			<math display="block" overflow="scroll"><mrow><mi> Re </mi><mo>=</mo><mi>H</mi><msub><mi>u</mi><mn>0</mn></msub><mi>ρ</mi><mo>/</mo><mi>μ</mi><mo>,</mo></mrow></math>
		{{/mathjax}}
</template>
