.highlight{
    background-color:yellow;
}
li.search-cond{
    width:90%
}
.quick-search{
    width:350px !important;
    border-radius:6px;
}
.qs-param{
    width:40px;
    margin-left:5px;
}
.qs-journal{
    width:100%
}
.qs-row{
    width:90% !important;
    margin:10px !important;
}
.qs-row>span{
    font-size:12px;
}
.point-ele{
    width:0px;
    height:0px;
    position:absolute;
    z-index:9999;
}
.is-container{
    min-width:450px;
}
.simple-list{
    margin: 15px 0;
    font-size: 13px;
    color: #999;
}
.simple-list>li:first-child {
    border-top: 0;
}
.simple-list>li{
    margin: 0;
    padding: 11px 0 8px;
    list-style-type: none;
    border-top: 1px solid #eee;
}