div.articleOutline li {
    list-style-type: none;
}

#sidebar.affix {
    top: 20px;
}

/* sidebar */
#section-index {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
#section-index .nav > li > a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* nested links */
#section-index .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    font-size: 12px;
}

#section-index .nav .nav .nav > li > a {
    padding-left: 20px;
}

/* active & hover links */
#section-index .nav > .active > a,
#section-index .nav > li > a:hover,
#section-index .nav > li > a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
    overflow: auto;
    height: auto;
    text-overflow: clip;
    white-space: normal;
    width: 350px;
}

/* all active links */
#section-index .nav > .active > a,
#section-index .nav > .active:hover > a,
#section-index .nav > .active:focus > a {
    width: 350px;
    height: auto;
    font-weight: 700;
}

/* nested active links */
#section-index .nav .nav > .active > a,
#section-index .nav .nav > .active:hover > a,
#section-index .nav .nav > .active:focus > a {
    font-weight: 500;
}

/* hide inactive nested list */
#section-index .nav ul.nav {
    display: none;
}

/* show active nested list */
#section-index .nav > .active > ul.nav {
    display: block;
}


xref[ref-type='fig'] {
    cursor:pointer;
    text-decoration:underline;
    color:blue;
}