.data {
    background: #FFD700 none repeat scroll 0 0;
    border: 1px solid #cfcfcf;
    height: 14px;
    margin-bottom: 5px;
}
.title_style{
    margin: 0 0 0px;
}
.name_style{
    font-family:Arial;
    font-size:13px;
    font-weight:normal;
    font-style:normal;
    text-decoration:underline;
    color:#0000FF;
}