.data {
    background: #FFD700 none repeat scroll 0 0;
    border: 1px solid #cfcfcf;
    height: 14px;
    margin-bottom: 5px;
}

.title_style {
    margin: 0 0 0px;
}

#fulltext-viewer xref {
    cursor: pointer;
    text-decoration: underline;
    color: #1a6594;
}

#fulltext-viewer xref[original=true] {
    display: none;
}

#fulltext-viewer table {
    width: 100%;
}

#fulltext-viewer x{
    margin:5px;
}

#fulltext-viewer x[content-type]{
    margin:1px !important;
}

.att-table table {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.att-table table thead {
    border-bottom: 2px solid;
}

.att-table table thead tr {
    border-bottom: 1px solid;
}

.att-table table thead tr p {
    padding: 1px 0px;
    margin: 0px 0px;
}

.appendix-container{
    text-align:inherit;
}

.appendix-container label+p {
    display:inline-block;
}

#fulltext-viewer .other-figure {
    width:320px;
}

#fulltext-viewer .other-figure-max {
    width:320px;
}

#fulltext-viewer .other-figure-min {
    width:320px;
}