<template name="loginForm">
	<form method="post" action="{{loginUrl}}" target="_blank">
        <input type="hidden" value="1" name="doLogin">
        <div class="form-group">
            <label for="login-form-journal">{{_ "Journal name"}}</label>
            <select id="login-form-journal" class="form-control js-example-basic-single" style="width:100%;border: 1px solid #cccccc;">
                <option>{{_ "Please select a journal"}}</option>
                {{#each publicationsList}}
                    <option value="{{_id}}">{{translateThis titleCn title}}</option>
                {{/each}}
            </select>
        </div>
        <!--{{#if isDisplayLogin}}-->
            <!--<div class="form-group">-->
                <!--<label for="login-form-username">{{_ "User Name"}}</label>-->
                <!--<input type="text" id="login-form-username" name="loginName" class="form-control" placeholder="{{_ "User Name"}}">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="login-form-password">{{_ "Password"}}</label>-->
                <!--<input type="password" id="login-form-password" name="loginPassword" class="form-control" placeholder="{{_ "Password"}}">-->
            <!--</div>-->
        <!--{{/if}}-->
		<div class="form-inline text-right">
			<!--<a href="{{registerUrl}}" target="_blank"><button type="button" class="btn btn-link">{{_ "Register"}}</button></a>-->
                <button type="submit" class="btn btn-primary">{{_ "OK"}}</button>
		</div>
	</form>
</template>

<template name="otherPlatformloginButtons">
	<hr>
	<ul class="list-unstyled">
        {{#if hideUrl}}
            <li><a data-toggle="modal" href="#" data-target="#myModalLogin"><b>{{_ "Submission and Review"}}</b></a></li>
        {{else}}
            <li><a href="{{urlSubmission}}" target="_blank"><b>{{_ "Submission and Review"}}</b></a></li>
        {{/if}}
	</ul>
    <div class="modal fade" id="myModalLogin" role="dialog" aria-labelledby="myModalLoginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLoginLabel">{{_ "Submission and Review"}}</h4>
                </div>
                <div class="modal-body">
                    {{> loginForm}}
                </div>
            </div>
        </div>
    </div>
</template>