<template name="loginForm" xmlns="http://www.w3.org/1999/html">
	<form method="post" action="{{loginUrl}}" target="_blank">
        <input type="hidden" value="1" name="doLogin">
        <div class="form-group">
            <label for="login-form-journal">{{_ "Journal name"}}</label>
            <select id="login-form-journal" class="form-control">
                <option value="">{{_ "Please select more journal name"}}</option>
                {{#each publicationList}}
                    <option value="{{codeValue}}" {{isChecked}}>{{translateThis titleCn title}}</option>
                {{/each}}
            </select>
        </div>
        {{#if isDisplayLogin}}
            <div class="form-group">
                <label for="login-form-username">{{_ "User Name"}}</label>
                <input type="text" id="login-form-username" name="loginName" class="form-control" placeholder="{{_ "User Name"}}">
            </div>
            <div class="form-group">
                <label for="login-form-password">{{_ "Password"}}</label>
                <input type="password" id="login-form-password" name="loginPassword" class="form-control" placeholder="{{_ "Password"}}">
            </div>
        {{/if}}
		<div class="form-inline">
			<a href="{{registerUrl}}" target="_blank"><button type="button" class="btn btn-link">{{_ "Register"}}</button></a>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{{_ "Login"}}</button>
                <button type="reset" class="btn btn-primary">{{_ "resetSecSearch"}}</button>
            </div>
		</div>
	</form>
</template>

<template name="otherPlatformloginButtons">
	<hr>
	<ul class="list-unstyled">
        {{#if displayIl8n}}
		    <li><a data-toggle="modal" data-target="#myModalLogin">{{_ "Submission and review Login"}}</a></li>
        {{else}}
		    <li><a data-toggle="modal" data-target="#myModalLogin">{{_ "Editors Login"}}</a></li>
        {{/if}}
	</ul>
    <div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLoginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLoginLabel">{{_ "Please sign in"}}</h4>
                </div>
                <div class="modal-body">
                    {{> loginForm}}
                </div>
            </div>
        </div>
    </div>
</template>