<template name="newsSearchShowPage">
    <div class="banner">
        <div class="container-fluid" style="margin-left: 41px">
            <h3 class="dotted"><b>{{_ "View Search Results"}}>></b></h3>
            <div class="dotted">
                <label>{{_ "Sort Results By"}}：</label>
                <label class="radio-inline"><input class="datesort" type="radio" name="sort" value="" checked> {{_ "Relevance"}}</label>
                <label class="radio-inline"><input class="datesort" type="radio" name="sort" value="-1"> {{_ "Latest release"}}</label>
                <label class="radio-inline"><input class="datesort" type="radio" name="sort" value="1">{{_ "First release"}}</label>
            </div>
            <div class="dotted">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <td>{{_ "Information Title"}}</td>
                        <td>{{_ "Published online"}}</td>
                        <td>{{_ "Each Pageviews"}}</td>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                            <tr>
                                <td><a href="{{whichUrl}}" target="_blank">{{title}}</a></td>
                                <td>{{formatDate createDate "YYYY-MM-DD"}}</td>
                                <td>{{pageView}}</td>
                            </tr>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>