<template name="miniLayout">
    <div class="miniPlatform">
    <!-- head 开始 -->
    <div class="head">
        <div class="top">
            <div class="logo">
                <div class="copLogo"><a href="{{pathFor 'newsPlatform'}}"><img src="/logo.png" /></a></div>
                <div class="year">Since  1950</div>
            </div>
            <div class="serach">
                <div class="navbar-form pull-right" role="search">
                    <div class="input-group">
                        <input id="searchInput" type="text" class="form-control" placeholder="搜索">
            <span class="input-group-btn">
               <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- head 结束 -->
    <!-- nav 开始 -->
    <div class="nav">
        <ul>
            <li id="nav-item-dropdown" class="dropdown curLi">
                <a data-toggle="dropdown"  class="dropdown-toggle">关于我们<b class="caret"></b></a>
                <ul id="dropdown-nav-items" class="dropdown-menu" style="min-width: 132px">
                    <li class="curLi">
                        <p><a href="{{pathFor 'magazineProfile'}}" >杂志社简介</a></p>
                    </li>
                    <li class="curLi">
                        <p><a href="{{pathFor 'council'}}" >理事会</a></p>
                    </li>
                    <li class="curLi">
                        <p><a href="{{pathFor 'memorabilia'}}" >两刊大事记</a></p>
                    </li>
                    <li class="curLi">
                        <p><a href="{{pathFor 'subscription'}}" >企业文化</a></p>
                    </li>
                </ul>
            </li>
            <li>
                <p><a href="{{pathFor 'authorCentered'}}">作者中心</a></p>
            </li>
            <li>
                <p><a href="{{pathFor 'collections'}}">文章集</a></p>
            </li>
            <li>
                <p><a href="{{pathFor 'cooperation'}}">出版合作</a></p>
            </li>
            <li>
                <p><a href="{{pathFor 'collections'}}">广告合作</a></p>
            </li>
            <li>
                <p><a href="{{pathFor 'collections'}}">新闻中心</a></p>
            </li>
            <li>
                <!--<a href="/" class="fa fa-pencil" collection="Pages" operation="update"></a>-->
                <p><a href="{{pathFor 'contact'}}">联系我们</a></p>
            </li>
        </ul>
    </div>
    <!-- nav 结束 -->
    {{> yield}}
    <!-- footer 开始 -->
    <div class="footer">
        <div class="foot">
            <p class="oh">
                <span class="colBlue">友情链接：</span>
                <a href="#"><img src="/partner_01.png" class="vm mr10"/></a>
                <a href="#"><img src="/partner_02.png" class="vm mr10"/></a>
                <a href="#"><img src="/partner_03.png" class="vm mr10"/></a>
                <a href="#"><img src="/partner_04.png" class="vm mr10"/></a>
                <span class="fr pt10"><a href="#"><img src="/edit.png" class="vm mr20"/></a></span>
            </p>
            <p class="mt20">网站主管：010  64034113   sys@scihina.org </p>
            <p>中Copyright  2011  Science China  PressCo.,Ltd.《中国科学社》杂志社有限公司 </p>
            <p>版权所有　京ICP备13008135号 </p>
        </div>
    </div>
    <!-- footer 结束 -->
    </div>
</template>

<template name="newsPlatform">
    <!-- banner 开始 -->
    <div class="banner">
        <div class="oh">
            <div class="lookBan">查看<br />全部<br />刊物</div>
            <div class="lookList">
                <!-- 代码 开始 -->
                <div id="example">
                    <div id="slides"><!--Slide控件开始-->
                        <div class="slides_container tab-content">
                            <div class="tab-pannel pn1 oh">
                                <div class="bookPart oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry 1</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                                <div class="bookPart oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                                <div class="bookPart bookPart1 oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                            </div>
                            <div class="tab-pannel pn1 oh">
                                <div class="bookPart oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry 2</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                                <div class="bookPart oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                                <div class="bookPart bookPart1 oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                            </div>
                            <div class="tab-pannel pn1 oh">
                                <div class="bookPart oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry 3</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                                <div class="bookPart oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                                <div class="bookPart bookPart1 oh">
                                    <img src="book_01.jpg" />
                                    <div class="h90"><h1>SCIENCE CHINA Chemistry</h1></div>
                                    <p>主编:万立骏</p>
                                    <p>www.scichina.com</p>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="prev" id="J_pre"><img src="left.png" alt="Arrow Prev"></a>
                        <a href="javascript:void(0);" class="next" id="J_next"><img src="right.png" alt="Arrow Next"></a>
                        <ul class="tab-nav pagination">
                            <li>
                                <a href="javascript:void(0);">1</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">2</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">3</a>
                            </li>
                        </ul>
                    </div><!--Slide控件结束-->
                </div>
                <!-- 代码结束 -->
            </div>
        </div>
        <div class="banNext"><a href="#"><img src="banNext.png" /></a></div>
    </div>
    <!-- banner 结束 -->
    <!-- banner 1 开始 -->
    <div class="banner">
        <div class="shuff mt25"><img src="ban1.jpg" /></div>
        <div class="classify">
            <p class="tr mt5 mb5"><a href="#afModal" class="fa fa-plus"></a></p>
            <div class="part part1">
                <a href="#">香山会议专栏</a>
                <p class="tr mr10"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
            </div>
            <div class="part part2">
                <a href="#">自然科学基金专栏</a>
                <p class="tr mr10"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
            </div>
            <div class="part part3">
                <a href="#">科学与技术论坛专栏</a>
                <p class="tr mr10"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
            </div>
        </div>
    </div>
    <!-- banner 1 结束 -->
    <!-- main 开始 -->
    <div class="main">
        <!-- 左侧内容开始 -->
        <div class="mainLeft">
            <div class="mainPart">
                <div class="mainTitle">
                    <p class="fl w300"><span class="mr20">最新出版文章</span> <a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-plus"></a></p>
                    <p class="fr mt8"><a href="#"><img src="/goAll.png"/></a></p>
                </div>
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
            </div>
            <div class="mt40">
                <p><a href="#" class="fa fa-plus"></a></p>
                <div class="oh mt15">
                    <div class="fl mt30"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></div>
                    <div class="fr"><img src="comp1.jpg" /></div>
                </div>
                <div class="oh mt15">
                    <div class="fl mt30"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></div>
                    <div class="fr"><img src="comp2.jpg" /></div>
                </div>
            </div>
        </div>
        <!-- 左侧内容结束 -->
        <!-- 右侧内容开始 -->
        <div class="mainRight">
            <div class="mainPart">
                <div class="mainTitle">
                    <p class="fl w300"><span class="mr20">科学新闻</span> <a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-plus"></a></p>
                    <p class="fr mt8"><a href="#"><img src="goAll.png"/></a></p>
                </div>
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：动态地表覆盖类型遥感监测: 中国主要湖泊面积
                                2000-2010年间逐旬时间尺度消长</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
            </div>
            <div class="mainPart mt20">
                <div class="mainTitle">
                    <p class="fl w300"><span class="mr20">科学新闻</span> <a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-plus"></a></p>
                    <p class="fr mt8"><a href="#"><img src="goAll.png"/></a></p>
                </div>
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：动态地表覆盖类型遥感监测: 中国主要湖泊面积
                                2000-2010年间逐旬时间尺度消长</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
                <!-- 一个部分开始 -->
                <div class="contPart">
                    <div class="fl w80"><img src="/img_01.jpg" /></div>
                    <div class="fl w350">
                        <div class="h50">
                            <p>科学通报：生物多样性科学研究进展</p>
                            <p class="col777">科学通报 2014,59:429-429 </p>
                        </div>
                        <p class="tr"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a> <a href="#" class="fa fa-trash"></a></p>
                    </div>
                </div>
                <!-- 一个部分结束 -->
            </div>
        </div>
        <!-- 右侧内容结束 -->
    </div>
    <!-- mian 结束 -->
    <!-- publishAll 开始 -->
    <div class="publishAll">
        <div class="pubAllCont">
            <img src="/biao.png" class="vm"/>
            <span class="ml200"><a href="#">点击进入SCP Publication平台 <img src="/goAll2.png" class="vm"/></a></span> <span class="ml10"><a href="#afModal" class="fa fa-pencil" collection="Advertisement" operation="update"></a></span>
        </div>
    </div>
    <!-- publishAll 结束 -->

</template>
