<template name="HomePrivate">
    <div class="container-fluid">
        {{> pageElement key="homepage" withoutTitle=true}}
    </div>
    <br>
    {{> NewsList}}
    <hr>
    {{> homePageSystemRecommendedArticles}}
    <hr>
    {{> homePageTopicList}}
</template>




<template name="homePageSystemRecommendedArticles">
    <div class="row">
        <div class="col-xs-6">
            {{> latestUploadedArticleList}}
        </div>
        <div class="col-xs-6">
            <div class="row">
                {{> mostReadArticleList}}
            </div>
            <div class="row">
                {{> mostCitedArticleList}}
            </div>
        </div>
    </div>
</template>

