<template name="Register">
	<div class="container">
		<form id="register_form" class="account-form" role="form">
			<h2>
				{{_ "RegisterPage.PleaseSignUp"}}
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="register_name" type="text" class="form-control" placeholder="Your full name" required autofocus>
			<input id="register_email" type="text" class="form-control" placeholder="Email address" required>
			<input id="register_password" type="password" class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="{{_ 'PleaseWait'}}">
				{{_ "RegisterPage.SignUp"}}
			</button>
			<p class="account-form-text-after">
				{{_ "RegisterPage.AlreadyAMember"}}
				<a href="{{pathFor 'login'}}">
					{{_ "RegisterPage.SignInHere"}}
				</a>
			</p>
		</form>
	</div>
</template>

