<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }
    html body {
        font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 22px;
        color: #333;
        background: #f8faef url(../images/topbg.gif) repeat-x;
    }
    a {
        color: #036cb0;
        text-decoration: none;
    }
    .oh {
        overflow: hidden;
    }

    .mt10 {
        margin-top: 10px;
    }
    .big {
        width: 610px;
        margin: 0 auto;
    }
    .top {
        background: #036cb0;
        color: #fff;
        height: 88px;
        font-size: 28px;
        line-height: 88px;
        padding: 0 20px;
        font-family: Arial;
    }
    .top img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .blue {
        color: #036cb0;
    }
    .ziduan {
        background: #fff;
        padding: 15px;
        border-bottom: 2px solid #5c5c5c;
    }

    .ziduan p {
        text-indent: 24px;
        margin-top: 8px;
    }
    .yinyong {
        background: #fff;
    }

    .part {
        padding: 15px;
    }
    .grey {
        background: #f6f6f6;
        padding: 15px;
    }
    .grey p {
        margin-bottom: 8px;
    }
</style>

<div class="big">
    {{> scpBanner}}
    <div class="ziduan">
        <h3>尊敬的<span class="blue">{{authorName.fullname.en}}</span></h3>

        <p>我们非常高兴的通知您，您在SCP PUBLICATION 上所收录的文章已经被他人引用，文章引用次数增加能显著提高文章权威性。</p>

        <p>此致</p>

        <p>敬礼</p>
    </div>
    <div class="yinyong">
        <div class="part">
            <h4>您的被引用文章：</h4>

            <p>{{article.title.cn}}，{{#each article.authors}}{{fullname.en}},{{/each}}，{{article.journal.titleCn}}</p>

            <p>{{article.year}}，{{article.volume}}({{article.issue}}){{#if article.elocationId}}: {{article.elocationId}}{{/if}}</p>
        </div>
        <div class="part">
            <h4>引用文章：</h4>
            {{#each citations}}
                <p>{{articleTitle}}，{{#each contributors}}{{surname}}{{givenName}},{{/each}}，{{journal.title}}</p>

                <p>{{volume}}({{issue}}){{#if firstPage}}:{{firstPage}}{{/if}}</p>
            {{/each}}
        </div>
    </div>
    {{> emailFooter}}
</div>