{{> cssStyle}}

<div class="big">
    {{#if journal.banner}}
        <div><img src="{{journal.banner}}" class="big"></div>
    {{else}}
        {{> scpBanner}}
    {{/if}}
    <div class="new_big">
        <div class="new_left">
            <div class="date-text">
                <p>Advance Access Alert</p>
                <p>{{lastWeek}} to {{nextWeek}}</p>
            </div>
            <div class="nowOnline"><img src="{{onlineNowUrl}}"></div>
        </div>
        <div class="right-img"><img src="{{journal.picture}}" width="110"></div>
    </div>
    <div class="content">
        <div class="oh">
            <div class="new-list">
                {{> emailArticleList}}
            </div>
            {{> emailJournalNewsBar}}
        </div>
        {{> emailFooter}}
    </div>
</div>