{{> cssStyle}}

<div class="big">
    {{#if article.journal.banner}}
        <div><img src="{{article.journal.banner}}" class="big"></div>
    {{else}}
        {{> scpBanner}}
    {{/if}}
    <div class="ziduan">
        <h3>尊敬的 <span class="blue">{{authorName.fullname.en}}{{userName}}</span></h3>
        {{#if authorName}}<p><span class="indent"></span>我们非常高兴的通知您，您在SciEngine 上所收录的文章已经被他人引用，文章引用次数增加能显著提高文章权威性。</p>{{/if}}
        {{#if userName}}<p><span class="indent"></span>您关注的一篇文章已经被文章引用，文章引用次数增加能显著提高文章权威性。</p>{{/if}}
        <p><span class="indent"></span><span class="indent"></span>此致</p>
        <p>敬礼</p>
    </div>
    <div class="yinyong">
        <div class="part">
            <h4>被引用文章：</h4>
            <p>
                <a href="{{article.url}}">{{{article.title.cn}}}</a>, <span>{{#each article.authors}}<span class="separate-comma">{{fullname.en}}</span>{{/each}}</span><br>
                <a href="{{article.journal.url}}">{{article.journal.titleCn}}</a>, {{article.year}}, {{article.volume}}({{article.issue}}){{#if article.elocationId}}: {{article.elocationId}}{{/if}}
            </p>
        </div>
        <div class="part">
            <h4>引用文章：</h4>
            {{#each citations}}
                <p>
                    <a target="_blank" href="https://doi.org/{{doi}}">{{articleTitle}}</a>, <span>{{#each contributors}}<span class="separate-comma">{{surname}} {{givenName}}</span>{{/each}}</span><br>
                    {{journal.title}}, {{#if volume}}{{volume}}{{/if}}{{#if issue}}({{issue}}){{#if firstPage}}: {{/if}}{{/if}}{{#if firstPage}}{{firstPage}}{{/if}}<br>
                    {{#if doi}}doi: <a href="https://doi.org/{{doi}}">{{doi}}</a>{{/if}}
                </p>

            {{/each}}
        </div>
    </div>
    {{> emailFooter}}
</div>