<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    html body {
        font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 22px;
        color: #333;
        background: #f8faef;
    }

    a {
        color: #036cb0;
        text-decoration: none;
    }

    .cssOh {
        overflow: hidden;
    }

    .mt10 {
        margin-top: 10px;
    }

    .css_big {
        width: 610px;
        margin: 0 auto;
    }
    .new_big{
        width:610px;
        margin:0 auto;
        padding:20px 0;
        overflow: hidden;
        background:#cac0b7;
    }
    .new_left{
        float:left;
    }
    .date-text{
        line-height:8px;
        color:#fff;
        padding-bottom:10px;
        padding-top:25px;
        margin-left: 20px;
        font-size:12px;
        font-weight:600;
    }
    .date-text p{
        padding-bottom:6px;
        font-size:12px;
    }
    .right-img{
        float:right;
        padding-left: 5px;
        padding-right: 40px;
    }
    .conTop{
        width:610px;
        padding-top: 15px;
        overflow: hidden;
        background:#cac0b7;
    }
    .conTop-left{
        width:350px;
        float:left;
        padding: 0px 20px;
    }
    .conTopimg{
        float: right;
        padding-right:55px;
        padding-top:0px;
        padding-bottom:15px;
    }

    .top {
        height: 88px;
    }

    .top img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .logo {
        background: #A9A9A9;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        font-family: Arial;
        font-size: 14px;
    }

    .logo a {
        color: #333;
        padding: 0 5px;
    }

    .content {
        background: #f6f6f6;
    }

    .new-list {
        width: 350px;
        float: left;
        background: #fff;
        padding: 0px 20px;
    }

    .new-list.full-width {
        width: 600px;
    }

    .meau-list {
        width: 200px;
        float: right;
        font-family: Arial;
        margin-right: 5px;
    }

    .new-list h1 {
        font-size: 22px;
        color: #036cb0;
        margin-bottom: 8px;
        font-weight: normal;
    }

    .new-list h2 {
        font-size: 16px;
        color: #036cb0;
        font-weight: normal;
        margin-top: 15px;
    }

    .new-list h3 {
        font-size: 14px;
        color: #036cb0;
        font-weight: normal;
    }

    .new-list h4 {
        font-size: 14px;
        color: #777;
        font-weight: normal;
    }

    .new-list h5 {
        font-size: 12px;
        color: #777;
        font-weight: normal;
    }

    .new-list p {
        line-height: 18px;
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: normal;
        margin-top: 6px;
    }

    .border-div {
        border-top: 1px solid #e5e5e5;
        padding: 10px 0;
    }

    .border-div p {
        font-size: 12px;
    }

    .meau-list h2 {
        font-size: 17px;
        color: #130c0e;
        margin-top: 25px;
    }

    .meau-list h3 {
        font-size: 12px;
        line-height: 20px;
    }

    .meau-list p {
        font-size: 12px;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical;
    }

    .cont-bottom {
        padding: 15px 20px;
        font-family: Arial;
        line-height: 15px;
        background: #e6e6e6;
        font-size: 12px;
        width: 570px;
        overflow: hidden;
    }

    .cont-bottom p {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .blue {
        color: #036cb0;
    }

    .ziduan {
        background: #fff;
        padding: 15px;
        border-bottom: 2px solid #5c5c5c;
    }

    .ziduan p {
        margin-top: 8px;
    }

    .yinyong {
        background: #fff;
        padding: 15px;
        overflow: hidden;
        line-height: 30px;
    }

    .yinyong p {
        line-height: 18px;
        margin-bottom: 8px;
        font-size: 12px;
    }

    .part {
        padding: 15px;
    }

    .part a {
        word-break: break-all;
    }

    .indent {
        margin-left: 10px;
        margin-right: 10px;
    }

    .separate-comma:not(:last-child):after {
        content: ", ";
        margin: 0px 3px 0px 0px;
        display: inline-table;
    }
</style>