{{#each articleList}}
    <p>
        <a href="{{url}}">{{{title.en}}}</a>
        <br>
        <span>
            {{#each authors}}
                <span class="separate-comma">
                    {{fullname.en}}
                </span>
            {{/each}}
        </span>
        <br>
        <a href="{{journal.url}}">{{journal.title}}</a>
        {{#if year}}, {{year}}{{/if}}
        {{#if volume}}, {{volume}}{{/if}}
        {{#if issue}}({{issue}}){{/if}}
        {{#if elocationId}}: {{elocationId}}{{/if}}
        {{#if endPage}}-{{engPage}}{{/if}}
    </p>
{{/each}}