<div style="background: #A9A9A9;height: 30px;line-height: 30px;padding: 0 20px;font-family: Arial;font-size: 14px;">
    {{#if journal.submissionReview}}
        <a style="color: #333;padding: 0 5px;" target="_blank" href="{{journal.submissionReview}}">Submit Your Manuscript</a>|
    {{/if}}
    <a style="color: #333;padding: 0 5px;" target="_blank" href="{{journal.url}}?slug=Author Center">Author Guidelines</a>|
    <a style="color: #333;padding: 0 5px;" target="_blank" href="{{journal.url}}/{{issue.volume}}/{{issue.issue}}?slug=Browse">Current Issue</a>|
    <a style="color: #333;padding: 0 5px;" target="_blank" href="{{journal.mostRead}}">Most Read</a>|
</div>