<div class="meau-list">
    <h2>News Center</h2>
    {{#each journalNews.newsCenter}}
        <div class="mt10">
        {{#if url}}
                <h3><a href="{{url}}"><b>{{title.en}}</b></a></h3>
            {{/if}}
            {{#if abstract.en}}
                <p class="multi-break">{{{abstract.en}}}</p>
            {{/if}}
        </div>
    {{/each}}
    <h2>Publication Trends</h2>
    {{#each journalNews.publishingDynamic}}
        <div class="mt10">
            <h3><a href="{{url}}"><b>{{title.en}}</b></a></h3>
            {{#if abstract.en}}
                <p class="multi-break">{{{abstract.en}}}</p>
            {{/if}}
        </div>
    {{/each}}
    <!--<h2>会议信息</h2>-->
    <!--{{#each journalNews.meetingInfo}}-->
        <!--<div class="mt10">-->
            <!--{{#if url}}-->
                <!--<h3><a href="{{url}}">{{title.cn}}</a></h3>-->
            <!--{{else}}-->
                <!--<h3>{{title.cn}}</h3>-->
            <!--{{/if}}-->
            <!--<p>{{startDate}}</p>-->
            <!--<p>{{address.cn}}</p>-->
        <!--</div>-->
    <!--{{/each}}-->
</div>