<div class="cont-bottom">
    <p>You are receiving this email because you have opted to receive information from SCP as a registered user of our SCP PUBLICATION</p>
    <p>To ensure the delivery to your inbox, please add the sender address {{rootUrl}} to your allow list.</p>
    <p>To modify your subscription (including change of email address etc.), please go to  {{rootUrl}} and log in with your email address and password.</p>
    <p>To unsubscribe from this specific table of contents alert, please click here. </p>
    <p>To unsubscribe from ALL table of contents alerts, please click here. </p>
    <p>For all enquiries, problems or suggestions regarding this service, please contact on {{rootUrl}}.</p>
    <p>SCP respects your privacy and does not disclose, sell or rent your personal information to any nonaffiliated third parties without your consent. Please visit the SCP PUBLICATION</p>
    <p>Address: SCIENCE CHINA Physics, Mechanics & Astronomy, 16 Donghuangchenggen North Street, Beijing, China (100717)</p>
    <p>Tel: 010-64015835   Fax: 010-64016350   E-Mail: physics@scichina.org</p>
</div>