<div class="cont-bottom">
    <p>You are receiving this email because you have opted to receive information from SciEngine as a registered user of our SciEngine</p>
    <p>To ensure the delivery to your inbox, please add the sender address <a href="publish@scichina.org">publish@scichina.org</a> to your allow list.</p>
    <p>To modify your subscription (including change of email address etc.), please go to  <a href="{{rootUrl}}">{{rootUrl}}</a> and log in with your email address and password.</p>
    <p style="display:none">To unsubscribe from this specific table of contents alert, please click here. </p>
    <p style="display:none">To unsubscribe from ALL table of contents alerts, please click here. </p>
    <p>For all enquiries, problems or suggestions regarding this service, please contact on E-Mail: <a href="mailto:service@scichina.org">service@scichina.org</a>.</p>
    <p>SCP respects your privacy and does not disclose, sell or rent your personal information to any nonaffiliated third parties without your consent. Please visit the SciEngine</p>
    {{#if address}}<p>Address: {{address}}</p>{{/if}}
    <p>{{#if phone}}Tel: {{phone}}{{/if}}   {{#if fax}}Tel: {{fax}}{{/if}}  {{#if email}} E-Mail: <a href="mailto:{{email}}">{{email}}</a>{{/if}}</p>
</div>