<style>
    * {
        font-family: Arial,"宋体", "Helvetica Neue", Helvetica, sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .title{
        font-family: Arial,"黑体", "Helvetica Neue", Helvetica, sans-serif;
    }
    .separate-comma:not(:last-child):after{
        content:", ";
    }
    .separate-and:nth-last-child(2):after{
        content:" and ";
    }
    .ad-link{
        position: absolute;
        font-size: 100px;
        color: #ffffff;
        z-index: 99;
        text-decoration: none;
    }
</style>

<div style="height:100%;position: relative;">
    <div>
        {{#if banner}}
            <div><a href="http://engine.scichina.com"><img style="width:100%;max-height:120px" src="{{banner}}"/></a></div>
        {{/if}}
        <div style="padding-bottom:10px;">
            <h4 style="margin-bottom: 4px;">{{{title}}}</h4>
            <div style="margin:8px 0px;">
                {{#each authors}}
                    <span class="separate-and separate-comma" style="font-size:13px">{{this}}</span>
                {{/each}}
            </div>
            <div style="font-size:13px;margin-bottom: 10px;">Citation: {{journal}} <b>{{volume}}</b>, {{page}} {{#if year}}({{year}}
                ){{/if}}{{#if doi}}; doi: {{doi}}{{/if}}</div>
            <div style="font-size:13px;margin-bottom: 10px;">View online: <a href="{{fulltextUrl}}">{{fulltextUrl}}</a></div>
            {{#if volume}}
            <div style="font-size:13px;margin-bottom: 10px;">View Table of Contents:<a href="{{tocUrl}}">{{tocUrl}}</a></div>
            {{/if}}
            <div style="font-size:13px">Published by the <b>{{publisher}}</b></div>
        </div>
        <hr>
        <div>
            <h5>Articles you may be interested in</h5>
            <ul style="padding: 0px">
                {{#each similar}}
                    <li style="list-style: none;padding-bottom:18px">
                        <div class="title" style="font-size:14px"><a href="{{fulltextUrl}}"><b>{{{title}}}</b></a></div>
                        <div style="font-size:13px">{{journal}} <b>{{volume}}</b>, {{page}} {{#if year}}({{year}}){{/if}};</div>
                        {{#if doi}} <div style="font-size:13px"></div>{{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <hr>
    </div>
    {{#if ad}}
        <div style="position: absolute;bottom: 0px">
            {{#if adhref}}
            <a class="ad-link" href="{{adhref}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            {{/if}}
            <img style="width:100%" src="{{ad}}"/>
        </div>
    {{/if}}
</div>