<div class="content">
    <div class="oh">
        <div class="new-list">
            <h1><a target="_blank" href="{{journal.url}}">{{journal.title}}</a></h1>
            <h4>Volume {{issue.volume}}, Issue {{issue.issue}}, {{issue.year}}</h4>
            <h4>published {{#if issue.month}}{{#if issue.day}}{{issue.day}}{{/if}} {{issue.month}}{{/if}} {{issue.year}}</h4>

            <div class="border-div">
                <p>{{journal.description.en}}</p>
            </div>
            {{> emailArticleList}}
        </div>
        {{> emailJournalNewsBar}}
    </div>
    {{> emailFooter}}
</div>