<div style="background: #f6f6f6;">
    <div style="overflow: hidden;">
        <div style="width:610px;padding-top: 15px;overflow: hidden;">
            <div style="width:350px;float:left;padding: 0px 20px;">
                <h3 style="font-size: 14px;color: #036cb0;font-weight: normal;"><a target="_blank" href="{{journal.url}}">{{journal.title}}</a></h3>
                <h3 style="font-size: 14px;font-weight: normal;">Volume {{issue.volume}}, Issue {{issue.issue}}, {{#if issue.month}}{{issue.month}}&nbsp;&nbsp;{{/if}}{{issue.year}}</h3>
                <!--<h4>published {{#if issue.month}}{{#if issue.day}}{{issue.day}}{{/if}} {{issue.month}}{{/if}} {{issue.year}}</h4>-->
                {{#if issue.description}}
                    <div style="border-top: 1px solid #e5e5e5;padding: 10px 0;font-size: 12px;">
                        <p style="line-height: 18px;margin-bottom: 8px;font-size: 12px;font-weight: normal;">{{{issue.description}}}</p>
                    </div>
                {{/if}}
            </div>
            <div style="float: right;padding-right:15px;padding-top:10px;"><img src="{{journal.picture}}" width="110"></div>
        </div>
        <div style="width: 350px;float: left;background: #fff;padding: 0px 20px;">
            {{> emailArticleList}}
        </div>
        {{> emailJournalNewsBar}}
    </div>
    {{> emailFooter}}
</div>