<template name="webOfScienceAMR">
    {{#if getData}}
        <div style="margin-top: 10px;">
            <h4>Web of Science</h4>
            <ul style="list-style: none; padding-left: 10px;">
                {{#with getData}}
                    {{#if timesCited}}
                        <li><a href="{{citingArticlesUrl}}" target="_blank">{{_ "timesCited"}} [{{timesCited}}]</a></li>
                    {{/if}}
                        <li><a href="{{sourceUrl}}" target="_blank">{{_ "sourceArticle"}}</a></li>
                        <li><a href="{{relatedRecordsUrl}}" target="_blank">{{_ "relatedRecords"}}</a></li>
                {{/with}}
            </ul>
        </div>
        <hr>
    {{/if}}
</template>