<template name="pacsTemplate">
    <p>
        <i class="fa fa-plus" data-toggle="collapse" data-target="#pacs"></i>
        <a style="cursor: pointer" data-toggle="collapse" data-target="#pacs" aria-expanded="false" aria-controls="pacs">{{_ "PACS" count=pacs.length}}</a>
    </p>
    <div class="collapse" id="pacs">
        <ol class="affiliationList">
            <table class="pacs-table" style="margin-left: -10px">
                <tr>
                    <th width="15%"></th>
                    <th width="84%"></th>
                </tr>
                {{#each pacs}}
                    <tr>
                        <td><a href="{{pacsSearchlink}}">{{pacsCode}}</a></td>
                        <td>{{{name}}}</td>
                    </tr>
                {{/each}}
            </table>
        </ol>
    </div>
</template>