<template name="showArticle">
    {{#if secitionisEmpty}}
        <div style="margin:0 auto;display:none;">
            <img src="/wei_xin_share.jpg" alt="SciEngine">
        </div>
    {{/if}}
    {{> journalBanner journal=journalId}}
    <div class="row articleHeading">
        <div class="col-xs-12">
            <div class="pull-right">
                {{#if permissionCheckWithScope "modify-journal" "resource"  "journal" journalId}}
                    {{>jkafModal template="updateArticleTitleModalForm" doc=this id="updateArticleTitleForm"}}
                {{/if}}
            </div>
            <div class="articleAccessKeyImage">
                {{> accessKeyImage}}
                {{#if permissionCheckWithScope "modify-journal" "resource"  "journal" journalId}}
                    {{>jkafModal template="updateArticleAccessKeyModalForm" doc=this id="updateArticleAccessKeyForm"}}
                {{/if}}
            </div>

            <div class="articleTitle">
                {{#mathjax}}
                <div>
                    <span style="font-size:16px;">
                    {{{translateThis title.cn title.en}}}
                    </span>
                    {{> crossmark doi=doi}}
                </div>
                {{/mathjax}}
            </div>
        </div>
    </div>

    <div class="row articleDetails">
        <div class="col-xs-10">
            {{#mathjax}}
            <ul>
                <li>
                    <p>
                        {{#each authors}}
                            <span class="{{#unless isChinese}}separate-and {{/unless}}separate-comma author-display">{{> authorPopButton}}
                                {{#if refs}}
                                    <sup>{{refs}}</sup>
                                {{/if}}
                            </span>
                        {{/each}}
                    </p>
                </li>
                <li>
                    <p>{{> affiliation}}</p>
                </li>
                {{#if authorNotes}}
                    <li>
                        {{#each authorNotes}}
                            <p>
                                {{#if note}}
                                    {{getLabel}} {{{translateThis note.cn note.en}}}
                                {{else}}
                                    {{getLabel}} <a href="mailto:{{email}}">{{email}}</a>
                                {{/if}}
                            </p>
                        {{/each}}
                    </li>
                {{/if}}
                <li>
                    <p>
                        {{journalName journalId}}
                        {{#if volume}}<b>{{volume}}</b>{{#if issue}}({{issue}}){{/if}}, {{/if}}{{#if elocationId}}{{elocationId}}{{/if}}{{#if endPage}}-{{endPage}}{{/if}}{{#if year}}({{year}});{{/if}}&nbsp;
                        <a style="margin-left:0.5em;" href="https://doi.org/{{doi}}">{{doi}} <i class="fa fa-external-link"></i></a>
                    </p>
                </li>
                {{#if pacs}}
                    <li>
                        <p>
                            {{> pacsTemplate}}
                        </p>
                    </li>
                {{/if}}
            </ul>
            {{/mathjax}}
        </div>
        <div class="col-xs-2">
            <br>
            <div class="container-fluid">
                <div class="row">
                    {{#if ipDownloadLimitation}}
                        {{#if pdfId}}
                            <li class="pdf">
                                <a target="_blank" class="pdfDownload" href="/downloadPdf/{{_id}}">
                                    <img style="height:50px" src="/pdf.png"/>

                                    <p>{{_ "Download"}} PDF</p>
                                </a>
                            </li>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            {{> articlePageNavigation}}
        </div>
        <div class="col-xs-3">
            <div class="raty">{{_ "Rating"}} </div>
        </div>
        <div class="col-xs-3">
            {{> shareTemplate}}
        </div>
    </div>
    {{> articleOptions}}

    {{> figModal}}
    {{> tableModal}}
    {{> referenceModal}}
</template>

<template name="articlePageNavigation">
    <div class="text-center">
              <span style="color: darkgray">
                <i class="fa fa-chevron-left"></i>
                  {{#if previousArticle}}
                      <a href="{{previousArticle}}">
                          <b>{{_ "Previous Article"}}</b>
                      </a>
                  {{else}}
                      <b>{{_ "Previous Article"}}</b>
                  {{/if}}
                  |
                  {{#if hasIssue}}
                      <a href="{{urlToJournalById journalId}}/{{volume}}/{{issue}}?slug=Browse"><b>{{_ "Table of Contents"}}</b></a>
                  {{else}}
                      <b>{{_ "Table of Contents"}}</b>
                  {{/if}}
                  |
                  {{#if nextArticle}}
                      <a href="{{nextArticle}}">
                          <b>{{_ "Next Article"}}</b>
                      </a>
                  {{else}}
                      <b>{{_ "Next Article"}}</b>
                  {{/if}}
                  <i class="fa fa-chevron-right"></i>
            </span>

    </div>
    <br>
</template>

<template name="shareTemplate">
    <!--<div class="bdsharebuttonbox pull-right">-->
    <!--<a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>-->
    <!--<a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>-->
    <!--<a title="分享到fb" class="bds_fbook" href="#" data-cmd="fbook"></a>-->
    <!--<a title="分享到twi" class="bds_twi" href="#" data-cmd="twi"></a></div>-->
    <!--<script>window._bd_share_config = {-->
    <!--"common": {-->
    <!--"bdSnsKey": {},-->
    <!--"bdText": "",-->
    <!--"bdMini": "2",-->
    <!--"bdPic": "",-->
    <!--"bdStyle": "0",-->
    <!--"bdSize": "16"-->
    <!--}, "share": {}-->
    <!--};-->
    <!--with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];-->
    <!--</script>-->
    <div id="ckepop" class="pull-right">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_fb"></a>
        <a class="jiathis_button_twitter"></a>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
    </div>
</template>

<template name="articleOptions">

    {{#articleTabs name="" tabs=tabs activeTab=activeTab}}
        {{#with context}}
            {{#tabContent slug="abstract"}}
                {{> AbstractTemplate}}
            {{/tabContent}}

            {{#tabContent slug="full text"}}
                {{#if ipRedirect}}
                    {{> FullTextTemplate}}
                {{else}}
                    {{> RedirectTemplate}}
                {{/if}}
            {{/tabContent}}

            {{#tabContent slug="references"}}
                {{> ReferencesTemplate}}
            {{/tabContent}}

            {{#tabContent slug="cited by"}}
                {{> CitedByTemplate}}
            {{/tabContent}}

            {{#tabContent slug="data media"}}
                {{> DataMediaTemplate}}
            {{/tabContent}}

            <!--{{#tabContent slug="metrics"}}
                {{> MetricsTemplate}}
            {{/tabContent}}-->

            {{#tabContent slug="related"}}
                {{> relatedArticles}}
            {{/tabContent}}

            {{#tabContent slug="moop"}}
                {{> MoopTemplate}}
            {{/tabContent}}

        {{/with}}

    {{/articleTabs}}

</template>

<template name="articleTabs">

    <div class="articleTabs-container">

        {{#if activeTab}}
            {{trackActiveTab activeTab}}
        {{/if}}

        {{trackTabs tabs}}

        <ul class="nav nav-tabs" role="tablist">
            {{#each tabs}}
                {{#if isDisabled}}
                    <li class="disabled"><a>{{name}}</a></li>
                {{else}}
                    <li role="presentation" class="tab-item {{isActiveTab slug}}">
                        <a href="#" role="tab" data-toggle="tab">{{name}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>

        <div class="tabs-content-container">
            {{> UI.contentBlock context=__context__ }}
        </div>
    </div>
</template>


<template name="DataMediaTemplate">
    <div class="row">
        {{#each figures}}
            {{> figure}}
        {{/each}}
        {{#each tables}}
            {{> atttable}}
        {{/each}}
    </div>
    <hr>
    {{> articleMedia journalId=journalId doi=doi}}
</template>


<template name="updateArticleTitleModalForm">
    {{#autoForm schema="ArticleTitleSchema" collection="Articles" id="updateArticleTitleForm" doc=this type="update"
    buttonContent=getUpdateButtonContent}}
        {{> afQuickField name="title.en"}}
        {{> afQuickField name="title.cn"}}
        <button type="submit" class="btn btn-primary">update</button>
    {{/autoForm}}
</template>

<template name="updateArticleAccessKeyModalForm">
    {{#autoForm schema="ArticleSchema" collection="Articles" id="updateArticleAccessKeyForm" doc=this
    type="update" buttonContent=getUpdateButtonContent}}
        {{> afQuickField name="accessKey"}}
        <button type="submit" class="btn btn-primary">update</button>
    {{/autoForm}}
</template>
