.gray-background {
    background-color: lightgrey;
}

div.articleDetails li {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 1em;
}
div.articleDetails li p {
    margin:0
}
.articleTitle{
    padding-left:3em;
    padding-top:10px;
    padding-bottom:7px;
    font-family:Arial, "Helvetica Neue", "黑体", Helvetica, sans-serif;
}
.articleAccessKeyImage{
    position: absolute;
    padding-top: 10px;
}
.articleDetails ul,ol {
    padding-left: 2em;
}
ol.affiliationList li {
    text-indent: -1em;
    padding-left: 0em;
}

.indent {
    margin-left: 10px;
    margin-right: 10px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating span.star:hover {
    cursor: pointer;
}

.rating span.star:before {
    content: "\f006";
    padding-right: 5px;
    color: #777777;
}

.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
    content: "\f005";
    color: #e3cf7a;
}

.separate-comma:not(:last-child):after{
    content:",";
    margin:0px 3px 0px -3px;
    display: inline-table;
}
.sectionDivider.title {
    color: #39392A;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.3em;
    padding: 5px 0 5px 10px;
    text-transform: uppercase;
}
.subtitle {
    color: #39392A;
    font-family: verdana, arial, helvetica, sans-serif;
    padding: 5px 0 5px 10px;
}
.sectionDivider {
    background-color: #EEEEEE;
    padding: 0px;
    border: 1px solid #cccccc;
}
.separate-comma sup {
    margin-left: -3px;
}
.pacs-table {
    margin-left:10px;
}
.pacs-table>tr{
    border-bottom: 1px #aaa dashed;
}