<template name="showArticle">
    <img src="http://scitation.aip.org/docserver/fulltext/aipadv_png8.png" alt="{{title}}">

    <div class="row">
        <div class="col-xs-9">
            <h3><img src="/icon_access_fc.gif"/> {{title}}</h3>
            <ul>
                <p>黄乐①, 徐慧龙①a）, 张志勇①*b), 彭练矛①②</p>

                <p>
                    <i class="fa fa-plus" type="button" data-toggle="collapse" data-target="#authorAddress"
                       aria-expanded="false" aria-controls="authorAddress"></i>
                    作者地址: </p>

                <div class="collapse pull-right" id="authorAddress">
                    <ol>
                        <li>北京大学纳米电子器件物理与化学教育部重点实验室, 电子学系, 北京 100871</li>
                        <li>北京大学纳米电子器件物理与化学教育部重点实验室, 电子学系, 北京 100871</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-xs-3">作者电子邮箱:</div>
                    <div class="col-xs-9">
                        <ul class="list-unstyled">mattmcc@wsu.edasdu</ul>
                        <ul class="list-unstyled">mattmcc@wsu.edu</ul>
                    </div>
                </div>
                <p>2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</p>

                <p>语种类型：中文</p>
            </ul>
        </div>
        <div class="col-xs-3">
            <br>

            <div class="container-fluid gray-background">
                <div class="row">
                    <li class="pdf">
                        <a rel=""
                           class="pdf" target="" title=""
                           href="#">Download
                            <span class="pdfText">PDF</span></a>

                        <div class="fulltextsize">
                            0.00MB
                        </div>
                    </li>
                </div>
                <div class="row"><img src="http://crossmark.crossref.org//images/logos/cm_sbs_024_plain.png"></div>
            </div>
            <br>

            <div class="container-fluid gray-background">
                <div class="row">share</div>
            </div>
        </div>
    </div>
    {{> articleOptions}}
    <hr>
    <div class="row">
        <div class="col-xs-5"><h3>最近阅读</h3>
            <ul class="list-unstyled">《孔隙尺度模拟与解释》</ul>
            <ul class="list-unstyled">《111》</ul>
            <ul class="list-unstyled">《222》</ul>
            <ul class="list-unstyled">《孔隙尺度模拟与解释》</ul>
            <ul class="list-unstyled">《222》</ul>
        </div>
        <div class="col-xs-5"><h3>最近检索</h3>
            <ul class="list-unstyled">AIP</ul>
            <ul class="list-unstyled">111</ul>
            <ul class="list-unstyled">222</ul>
            <ul class="list-unstyled">333</ul>
            <ul class="list-unstyled">444</ul>
        </div>
    </div>
</template>


<template name="articleOptions">

    {{#articleTabs name="" tabs=tabs}}

    {{#tabContent slug="abstract"}}
    asdfsdfasd
    <!--{{#with context}}-->
    <!--{{> OverviewTemplate}}-->
    <!--{{/with}}-->
    {{/tabContent}}

    {{/articleTabs}}

</template>

<template name="articleTabs">

    <div class="articleTabs-container">

        {{#if activeTab}}
        {{trackActiveTab activeTab}}
        {{/if}}

        {{trackTabs tabs}}

        <ul class="nav nav-tabs" role="tablist">
            {{#each tabs}}
            <li role="presentation" class="tab-item {{isActiveTab slug}}"><a role="tab" data-toggle="tab">{{name}}</a>
            </li>
            {{/each}}
        </ul>

        <div class="tabs-content-container">
            {{> UI.contentBlock
            context=__context__
            }}
        </div>
    </div>
</template>

<!--<template name="OverviewTemplate">-->

<!--<div class="row">-->
<!--<div class="col-xs-3">-->
<!--<div class="pull-right">-->
<!--{{#if isAdmin }}-->
<!--{{> updatePublicationPictureModalForm}}-->
<!--{{/if}}-->
<!--</div>-->
<!--<img src="{{getImageHelper picture}}" width="100" height="142"/>-->
<!--</div>-->
<!--<div class="col-xs-9">-->
<!--<div class="row">-->
<!--<div class="pull-right">-->
<!--{{#if isAdmin }}-->
<!--{{> updatePublicationDescriptionModalForm}}-->
<!--{{/if}}-->
<!--</div>-->
<!--{{description}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--</template>-->

