<template name="standardArticleListing">
    {{#mathjax}}
    <div class="resultsList">{{> accessKeyImage}}
        <div><a href="{{urlToArticleById _id}}">{{{translateThis title.cn title.en}}}</a></div>
    </div>
    {{/mathjax}}

    <ul class="list-unstyled">
        <li>
            {{#each authors}}
            <span class="{{#unless isChinese}}separate-and {{/unless}}separate-comma author-display">{{> authorPopButton}}</span>
            {{/each}}
        </li>
        <li>
            <a class="journalTitle" href="{{urlToJournal title.en}}">{{journalName journalId}}</a>
            {{#if volume}}<b>{{volume}}</b>{{#if issue}}({{issue}}){{/if}},{{/if}}
            {{#if elocationId}}{{elocationId}} {{/if}}
            {{#if year}}({{year}}){{/if}}
            <a style="margin-left:0.5em;" href="https://doi.org/{{doi}}">{{{showdoi}}} <i class="fa fa-external-link"></i></a>
        </li>
    </ul>
</template>