<template name="ShowGuidelines">
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-xs-3 left-filter-menu">
                <ul class="list-unstyled">
                    <h6 class="bg-eee" align="center">{{columnName}}</h6>
                    {{#each authorTitle}}
                        <li style="cursor: pointer;margin-left: 5px;border-bottom: 1px #ccc solid;overflow:hidden;padding-top: 10px;padding-bottom: 10px;"><a class="leftButton" data-guideid="{{_id}}">{{translateThis title.cn title.en}}</a></li>
                        <ul class="list-unstyled">
                            {{#each childTitle}}
                                <li style="margin-left: 12px;cursor: pointer;border-bottom: 1px #ccc solid;overflow:hidden;padding-top: 5px;padding-bottom: 5px;"><a class="leftButton" data-guideid="{{_id}}">{{translateThis title.cn title.en}}</a></li>
                            {{else}}
                            {{/each}}
                        </ul>
                    {{else}}
                        {{_ "No results found!"}}
                    {{/each}}
                </ul>
            </div>
            <div id="subcontent" class="col-xs-9">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 20px;">
                        {{#each authorCenters}}
                            <div align="center">
                                <span class="title-font"><strong>{{translateThis title.cn title.en}}</strong></span>
                                {{#if permissionCheckWithScope "modify-journal" "resource" "journal" publications}}{{>jkafModal template="updateContributeModalForm" doc=this id="updateContributeModal"}}{{/if}}
                                {{#if permissionCheckWithScope "modify-journal" "resource" "journal" publications}}<a href="#" class="fa fa-trash"></a>{{/if}}
                            </div><br>
                            <p>{{{translateThis content.cn content.en}}}</p>
                        {{else}}
                            {{_ "No results found!"}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="updateContributeModalForm">
    {{#autoForm doc=this collection="AuthorCenter" id="updateContributeModal" type="update" buttonContent=getUpdateButtonContent}}
    <fieldset>
        {{> afQuickField name="title"}}
        {{> afQuickField name="content"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">{{_ "Update"}}</button>
    {{/autoForm}}
</template>