<template name="AdvancedSearch">
    <div class="container-fluid">
        {{> pageElement key="advancedSearch"}}
        <h5>{{_"Retrieval Condition"}}</h5>
        <div class="dotted mb15">
            <form>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-inline form-group">
                            <select class="form-control">
                                <option>{{_"And"}}</option>
                                <option>{{_"Or"}}</option>
                                <option>{{_"Non"}}</option>
                            </select>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-inline form-group">
                            <select class="form-control">
                                <option>{{_"And"}}</option>
                                <option>{{_"Or"}}</option>
                                <option>{{_"Non"}}</option>
                            </select>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-inline form-group">
                            <label>{{_"Retrieval Range"}}：</label>
                            <select class="form-control">
                                <option>{{_"Full Text"}}</option>
                                <option>{{_"Title"}}</option>
                                <option>{{_"Author"}}</option>
                                <option>{{_"Company name"}}</option>
                                <option>{{_"Keywords"}}</option>
                                <option>{{_"Abstract"}}</option>
                                <option>ISSN,E-ISSN,DOI</option>
                            </select>
                        </div>
                        <div class="form-inline form-group">
                            <label>{{_"Retrieval Range"}}：</label>
                            <select class="form-control">
                                <option>{{_"Full Text"}}</option>
                                <option>{{_"Title"}}</option>
                                <option>{{_"Author"}}</option>
                                <option>{{_"Company name"}}</option>
                                <option>{{_"Keywords"}}</option>
                                <option>{{_"Abstract"}}</option>
                                <option>ISSN,E-ISSN,DOI</option>
                            </select>
                        </div>
                        <div class="form-inline form-group">
                            <label>{{_"Retrieval Range"}}：</label>
                            <select class="form-control">
                                <option>{{_"Full Text"}}</option>
                                <option>{{_"Title"}}</option>
                                <option>{{_"Author"}}</option>
                                <option>{{_"Company name"}}</option>
                                <option>{{_"Keywords"}}</option>
                                <option>{{_"Abstract"}}</option>
                                <option>ISSN,E-ISSN,DOI</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-right"><button type="button" class="btn btn-primary btn-sm">{{_"Start Search"}}</button></p>
        </div>
        <div class="dotted mb15">
            <form>
                <div class="form-inline form-group">
                    <label>{{_"Sort Results By"}}：</label>
                    <select class="form-control">
                        <option>{{_"Relevance"}}</option>
                        <option>{{_"Newest First"}}</option>
                        <option>{{_"Oldest First"}}</option>
                    </select>
                </div>
                <div class="form-inline form-group input-group datetimepicker">
                    <label>{{_"Search Between These Dates"}}：</label>
                    <div class="input-group datetimepicker">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="set-due-date form-control" type="text"/>
                    </div>
                    <label>-</label>
                    <div class="input-group datetimepicker">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="set-due-date form-control" type="text"/>
                    </div>
                </div>
            </form>
        </div>
        <h5>{{_"Search Within"}}：</h5>
        <div class="form-group">
            <input type="text" class="form-control form-group" placeholder="{{_'Publisher name'}}" data-toggle="modal" data-target="#myModal"  readonly>
            <input type="text" class="form-control form-group" placeholder="{{_'Journal name'}}" data-toggle="modal" data-target="#myModal1"  readonly>
            <input type="text" class="form-control form-group" placeholder="{{_'The topic name'}}(level 1)" data-toggle="modal" data-target="#myModal2"  readonly>
            <input type="text" class="form-control form-group" placeholder="{{_'Context Property'}}" data-toggle="modal" data-target="#myModal3"  readonly>
            <input type="text" class="form-control form-group" placeholder="{{_'Classification'}}" data-toggle="modal" data-target="#myModal4"  readonly>
            <p class="text-right"><button type="button" class="btn btn-primary btn-sm">{{_"Start Search"}}</button></p>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{_"Publisher name"}}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"All the options"}}</label></div>
                                {{#each publisherList}}
                                    <div class="checkbox"><label><input type="checkbox" value={{_id}}> {{translateThis chinesename name}}</label></div>
                                {{else}}
                                    {{_ "No results found!"}}
                                {{/each}}
                                <p><button class="btn btn-warning btn-sm" type="reset">{{_"Cancel"}}</button> <button type="submit" class="btn btn-primary btn-sm">{{_"Submit"}}</button> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{_"Journal name"}}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"All the options"}}</label></div>
                                {{#each publicationList}}
                                    <div class="checkbox"><label><input type="checkbox" value={{_id}}> {{translateThis titleCn title}}</label></div>
                                {{else}}
                                    {{_ "No results found!"}}
                                {{/each}}
                                <p><button class="btn btn-warning btn-sm" type="reset">{{_"Cancel"}}</button> <button type="submit" class="btn btn-primary btn-sm">{{_"Submit"}}</button> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{_"The topic name"}}(level 1)</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"All the options"}}</label></div>
                                {{#each topicList}}
                                    <div class="checkbox"><label><input type="checkbox" value={{_id}}> {{translateThis name englishName}}</label></div>
                                {{else}}
                                    {{_ "No results found!"}}
                                {{/each}}
                                <p><button class="btn btn-warning btn-sm" type="reset">{{_"Cancel"}}</button> <button type="submit" class="btn btn-primary btn-sm">{{_"Submit"}}</button> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{_"Context Property"}}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"All the options"}}</label></div>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"Article"}}</label></div>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"Review"}}</label></div>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"Research Highlights"}}</label></div>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"Editorial"}}</label></div>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"Letter"}}</label></div>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"Blogs"}}</label></div>
                                <p><button class="btn btn-warning btn-sm" type="reset">{{_"Cancel"}}</button> <button type="submit" class="btn btn-primary btn-sm">{{_"Submit"}}</button> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{_"Classification"}}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="checkbox"><label><input type="checkbox" value=""> {{_"All the options"}}</label></div>
                                {{#each tagList}}
                                    <div class="checkbox"><label><input type="checkbox" value={{_id}}> {{translateThis name.cn name.en}}</label></div>
                                {{else}}
                                    {{_ "No results found!"}}
                                {{/each}}
                                <p><button class="btn btn-warning btn-sm" type="reset">{{_"Cancel"}}</button> <button type="submit" class="btn btn-primary btn-sm">{{_"Submit"}}</button> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>