<template name="AdvancedSearch">
    <div class="container-fluid">
        {{> pageElement key="advancedSearch"}}
        <h5>{{_ "Retrieval Condition"}}</h5>
        <div class="dotted mb15">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input id="searchValue1" type="text" class="form-control" placeholder='李白|李,白'>
                        </div>
                        <div class="form-inline form-group">
                            <select id="searchValue2" class="form-control" style="padding: 2px 12px;">
                                <option value="AND">{{_ "And"}}</option>
                                <option value="OR">{{_ "Or"}}</option>
                                <option value="NOT">{{_ "Not"}}</option>
                            </select>
                            <input id="searchValue3" type="text" class="form-control">
                        </div>
                        <div class="form-inline form-group">
                            <select id="searchValue4" class="form-control" style="padding: 2px 12px;">
                                <option value="AND">{{_ "And"}}</option>
                                <option value="OR">{{_ "Or"}}</option>
                                <option value="NOT">{{_ "Not"}}</option>
                            </select>
                            <input id="searchValue5" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-inline form-group">
                            <label>{{_ "Retrieval Range"}} : </label>
                            <select id="searchValue6" class="form-control" style="padding: 2px 12px;">
                                <option value="fulltext">{{_ "Full Text"}}</option>
                                <option value="title">{{_ "Title"}}</option>
                                <option value="author">{{_ "Author"}}</option>
                                <option value="affiliation">{{_ "Company name"}}</option>
                                <option value="keyword">{{_ "Keywords"}}</option>
                                <option value="abstract">{{_ "Abstract"}}</option>
                                <option value="code">ISSN,E-ISSN,DOI</option>
                            </select>
                        </div>
                        <div class="form-inline form-group">
                            <label>{{_ "Retrieval Range"}} : </label>
                            <select id="searchValue7" class="form-control" style="padding: 2px 12px;">
                                <option value="fulltext">{{_ "Full Text"}}</option>
                                <option value="title">{{_ "Title"}}</option>
                                <option value="author">{{_ "Author"}}</option>
                                <option value="affiliation">{{_ "Company name"}}</option>
                                <option value="keyword">{{_ "Keywords"}}</option>
                                <option value="abstract">{{_ "Abstract"}}</option>
                                <option value="code">ISSN,E-ISSN,DOI</option>
                            </select>
                        </div>
                        <div class="form-inline form-group">
                            <label>{{_ "Retrieval Range"}} : </label>
                            <select id="searchValue8" class="form-control" style="padding: 2px 12px;">
                                <option value="fulltext">{{_ "Full Text"}}</option>
                                <option value="title">{{_ "Title"}}</option>
                                <option value="author">{{_ "Author"}}</option>
                                <option value="affiliation">{{_ "Company name"}}</option>
                                <option value="keyword">{{_ "Keywords"}}</option>
                                <option value="abstract">{{_ "Abstract"}}</option>
                                <option value="code">ISSN,E-ISSN,DOI</option>
                            </select>
                        </div>
                    </div>
                </div>
            <p class="text-right"><button type="button" class="btn btn-primary btn-sm searchBtn">{{_ "Start Search"}}</button></p>
        </div>
        <div class="form-inline form-group">
            <label>{{_ "Sort Results By"}} : </label>
            <select id="sort" class="form-control" style="padding: 2px 12px;">
                <option value="0">{{_ "Relevance"}}</option>
                <option value="1">{{_ "Newest First"}}</option>
                <option value="2">{{_ "Oldest First"}}</option>
            </select>
        </div>
        <div class="form-inline form-group">
            <label>{{_ "Search Between These Dates"}} : </label>
            <label>{{_ "From"}}</label>
            <div class="input-group datetimepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="set-due-date form-control" type="text" id="startDate"/>
            </div>
            <label>{{_ "To"}}</label>
            <div class="input-group datetimepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="set-due-date form-control" type="text" id="endDate"/>
            </div>
        </div>
        <h5>{{_ "Search Within"}}</h5>
        <div class="form-group row">
            <div class="col-xs-3"><label>{{_ "Publisher name"}} : </label></div>
            <div class="col-xs-9">
                <select id="filter-publisher" class="form-control js-multiple1" multiple="multiple" style="width: 82%">
                    {{#each publisherList}}
                        <option value="{{_id}}">{{translateThis chinesename name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3"><label>{{_ "Journal name"}} : </label></div>
            <div class="col-xs-9">
                <select id="filter-journal" class="form-control js-multiple2" multiple="multiple" style="width: 82%">
                    {{#each publicationList}}
                        <option value="{{_id}}">{{translateThis titleCn title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3"><label>{{_ "The topic name"}} : </label></div>
            <div class="col-xs-9">
                <select id="filter-topic" class="form-control js-multiple3" multiple="multiple" style="width: 82%">
                    {{#each topicList}}
                        <option value="{{_id}}">{{translateThis name englishName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3"><label>{{_ "Article Content Type"}} : </label></div>
            <div class="col-xs-9">
                <select id="filter-contentType" class="form-control js-multiple4" multiple="multiple" style="width: 82%">
                    {{#each contentTypeList}}
                        <option value="{{subject}}">{{translateThis name.cn name.en}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3"><label>{{_ "Journal label"}} : </label></div>
            <div class="col-xs-9">
                <select id="filter-tag" class="form-control js-multiple5" multiple="multiple" style="width: 82%">
                    {{#each tagList}}
                        <option value="{{_id}}">{{translateThis name.cn name.en}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <p class="text-right"><button type="button" class="btn btn-primary btn-sm searchBtn">{{_ "Start Search"}}</button></p>
    </div>
</template>