<template name="digest">
    <div class="mb15">
        <img src="banner.jpg"/>
    </div>
    <div class="col-xs-9">
        <div class="indetP">
            <h6><img src="icon_access_oa.gif"> <a href="#">基于3D打印 技术的岩体复杂结构与应力场的可视化方法</a></h6>
            <p>张龙①,张怡玲①②, 陈冰炎①, 黄乐①, 徐慧龙①a）, 张志勇①*b), 彭练矛①②</p>
            <p>作者地址：</p>
            <p>① 北京大学纳米电子器件物理与化学教育部重点实验室, 电子学系, 北京 100871;</p>
            <p>② 北京大学前沿交叉学科研究院, 北京 100871</p>
            <dl class="dl-horizontal">
                <dt>作者电子邮箱：</dt>
                <dd>a)mattmcc@wsu.edu （此处支持读者给该作者发邮件）</dd>
                <dd>b)science.math@wsu.edu</dd>
            </dl>
            <p>2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</p>
            <p>语种类型：中文</p>
        </div>
    </div>
    <div class="col-xs-3"></div>
    <div class="part col-xs-12 text-center">
        <div class="col-xs-4">
            <a href="#"> 《 上一篇 </a>
        </div>
        <div class="col-xs-4">
            <a href="#"> 本期文章目录 </a>
        </div>
        <div class="col-xs-4">
            <a href="#"> 上一篇 》 </a>
        </div>
    </div>
    <div class="col-xs-12">
        <p>给当前文章点赞（已被点赞10次）(读者打分、点赞前请先登录账号)</p>
        <p>此功能默认不显示，如编辑部有此需求，可通过“功能启用”按钮开启此功能。</p>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">摘要</a></li>
        <li role="presentation"><a href="#">全文</a></li>
        <li role="presentation"><a href="#">参考文献（6）</a></li>
        <li role="presentation"><a href="#">被引用（2）</a></li>
        <li role="presentation"><a href="#">数据&媒体</a></li>
        <li role="presentation"><a href="#">阅读行为统计</a></li>
        <li role="presentation"><a href="#">相关文章</a></li>
    </ul>
    <div class="row">
        <div class="col-xs-9">
            <p>随着电子器件的便携化发展, 柔性电子器件越来越引起人们的关注. 透明导电薄膜同时具有良好的导电性和光学透过性, 已作为电极被广泛应用于光电功能器件领域. 然而,
                目前普遍使用的透明导电材料氧化铟锡(ITO)由于含有储量有限的铟元素而存在成本高的问题, 并且由于氧化物本身的脆性, 其所制薄膜的柔性也不理想, 并不能完全满足目前柔性电子器件的发展要求.
                因而, 对于可替代ITO的其他廉价、可大量制备、具有优异性能的柔性透明导电薄膜的研究近年来受到研究者的广泛关注. 碳纳米材料 因同时具备高的电子传输率、透光率以及良好的机械柔性可以
                满足目前柔性电子器件的应用需求, 此外, 碳纳米材料更具备来源广泛、制备方式灵活多样等特有优势, 可以降低材料和生产成本, 因而更具有实用价值. 本文简要综述了近几年基于碳纳米材料(以碳纳米管和石墨烯为主)
                的柔性透明导电膜的研究工作, 结合材料制备和性能调控以及薄膜制备(特别是连续化制备)的方法, 阐述了该领域最近的研究成果及应用, 最后简要讨论了基于碳纳米材料的柔性透明导电薄膜目前存在的问题及可能的发展方向。</p>
        </div>
        <div class="col-xs-3">
            <div class="part">
                <h5>主题</h5>
                <p>有机地理学</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="part">关键词</div>
    <p class="dotted">固体颗粒乳化剂；碳纳米复合材料；乳液催化；乳化机理；柔性；</p>
    <p>稿件接收时间： 2014-06-12 	 稿件收录时间：2014-07-29		网络发布时间：2014-11-29</p>
    <div class="part">关基金资助</div>
    <p>国家自然科学基金(U1203292, 21336001)和中央高校基本科研业务费专项(DUT14LAB06)资助。</p>
    <div class="row db-solid">
        <div class="col-xs-6">
            <h5 class="bgBlue">本月热读文章</h5>
            <div class="part">
                <p>生物多样性研究进展</p>
                <p>稀土无机发光材料：电子结构、光学性能和生物应用</p>
                <p>多传感器分布式检测和估计融合</p>
                <p>光电化学免疫分析研究进展</p>
                <p class="text-right"><a href="#">更多</a> </p>
            </div>
        </div>
        <div class="col-xs-6">
            <h5 class="bgBlue">最多引用文章</h5>
            <div class="part">
                <p>生物多样性研究进展</p>
                <p>稀土无机发光材料：电子结构、光学性能和生物应用</p>
                <p>多传感器分布式检测和估计融合</p>
                <p>光电化学免疫分析研究进展</p>
                <p class="text-right"><a href="#">更多</a> </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>最近阅读</h4>
            <p><a href="#">《孔隙尺度模拟与解释》</a> </p>
            <p><a href="#">《111》</a></p>
            <p><a href="#">《孔隙尺度模拟与解释》</a> </p>
            <p><a href="#">《111》</a></p>
            <p><a href="#">《孔隙尺度模拟与解释》</a> </p>
        </div>
        <div class="col-xs-6">
            <h4>最近检索</h4>
            <p><a href="#">AIP</a> </p>
            <p><a href="#">11</a></p>
            <p><a href="#">22</a> </p>
            <p><a href="#">33</a></p>
            <p><a href="#">44</a> </p>
        </div>
    </div>
</template>