<template name="editPolicy">
    <ul class="nav nav-pills">
        <li><a href="#">期刊概述</a> </li>
        <li><a href="#">编委会</a> </li>
        <li><a href="#">出版目录</a> </li>
        <li class="active"><a href="#">关于我们</a> </li>
        <li><a href="#">新闻</a> </li>
        <li><a href="#">多媒体</a> </li>
        <li><a href="#">专题/辑</a> </li>
        <li><a href="#">虚拟产品包</a> </li>
        <li><a href="#">预出版</a> </li>
        <li><a href="#">优先出版</a> </li>
        <li><a href="#">MOOP</a> </li>
        <li><a href="#">作者中心</a> </li>
    </ul>
    <div class="col-xs-3">
        <ul class="menu-ul">
            <li class="active"><a href="#">编辑政策</a> </li>
            <li><a href="#">读者须知</a> </li>
            <li><a href="#">联系我们</a> </li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="part">编辑政策</div>
        <div class="part">
            <p><strong>审议过程：</strong></p>
            <p>提交手稿最初筛选其适用性和那些出现适合出版物中的AIP进展被发送到专家裁判用于评估和可以被发送到另一
                个裁判用于第二次审查。裁判的身份保密。在该报告的基础上，编辑做出决定或者接受该文件出版，拒绝它，
                或者向作者修订裁判建议。修订后的版本应该被送到及时编辑部，否则原始收据日期可能被替换。审查过程中
                的AIP进展迅速性质排除修改的广泛周期，这是我们的目的达到就不会超过两轮审查的基础上，接受手稿或驳回的决定。
                一个作家可以上诉编辑的决定提出请求，以纸张被重新编辑拒绝的手稿。如果编辑器不认为（进一步）审查是必要的，
                他/她会咨询的第二意见执行编辑之一。如果拒绝决定维持原判，任何后续的上诉将由AIP出版的出版商进行审查。
                出版商不会让直接决定纸张是否应该被接受发表，而是将评估程序是否正确遵循。其他几轮审查，裁定将只能被称为如
                果不遵循正确的程序。</p>
        </div>
        <div class="part">
            <p><strong>出版标准：</strong></p>
            <p>论文被接受发表在AIP前进根据以下标准：</p>
            <ul>
                <li>稿件必须出示主要科研成果。</li>
                <li>稿件必须在应用物理科学的一个区域呈现的研究。</li>
                <li>结果一定不会在其他地方发表。</li>
                <li>分析必须符合严格的技术标准和足够的详细介绍。</li>
                <li>结论必须呈现的数据的支持。</li>
            </ul>
        </div>
        <div class="part">
            <p><strong>作者责任：</strong></p>
            <p>平台进展发布作为其发布者，在平台出版章程的一部分，以推进和物理科学及其应用对人类福利的传播知识。为此，至关重要的是，所有参加谁在生产杂志与职业道德和标准的最高水平协议进行自己作为作家，评论家，编辑和出版商。什么该杂志预计，
                详细说明可以在这里找到。通过提交稿件AIP进展，每个作者含蓄地确认其符合最高的道德标准。</p>
        </div>
        <div class="part">
            <p><strong>勘误政策：</strong></p>
            <p>本平台出版以自己的责任来维持我们的内容为所有终端用户的学术记录的完整性和完整性非常重视。 本平台期刊出版的文章的权力高度重视，他们已经公布，我们的政策是基于学术出版界的最佳实践之后。
                只能在出版的收缩和修正策略概述的情况下，可以在这里访问进行更改后，他们已经在网上发表的文章。</p>
        </div>
    </div>
</template>