<template name="editAuthor">
    <ul class="nav nav-pills">
        <li><a href="#">期刊概述</a> </li>
        <li><a href="#">编委会</a> </li>
        <li><a href="#">出版目录</a> </li>
        <li class="active"><a href="#">关于我们</a> </li>
        <li><a href="#">新闻</a> </li>
        <li><a href="#">多媒体</a> </li>
        <li><a href="#">专题/辑</a> </li>
        <li><a href="#">虚拟产品包</a> </li>
        <li><a href="#">预出版</a> </li>
        <li><a href="#">优先出版</a> </li>
        <li><a href="#">MOOP</a> </li>
        <li><a href="#">作者中心</a> </li>
    </ul>
    <div class="col-xs-3">
        <ul class="menu-ul">
            <li><a href="#">编辑政策</a> </li>
            <li class="active"><a href="#">读者须知</a> </li>
            <li><a href="#">联系我们</a> </li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="part">读者须知</div>
        <div class="part">
            <p><strong>打分指南：</strong></p>
            <p>评分被理解为对评价者的单独的意见，和任何一个评级不应被认为是对所公布的纸张的质量（冲击，表示和可靠性）一个明确的结论。
                为了由主持人提交评论的考虑，评分前你必须注册登录本平台，本平台上您的用户名为您的注册邮箱，所有信息将通过该服务进行验证。</p>
        </div>
    </div>
</template>