<template name="index">
    <p><strong>平台简介：</strong> SciChina是国内领先的学术期刊在线阅读与内容管理平台，由《中国科学》杂志社主办，科学出版社、中科期刊出版有限公司协办，集合国内外先进科研成果的学术期刊数字出版平台。</p>
    <div class="row">
        <div class="col-xs-6">
            <!-- 幻灯片开始 -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="img1.jpg"></div>
                <div class="item"><img src="img2.jpg"></div>
                <div class="item"><img src="img3.jpg"></div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--幻灯片结束 -->
        </div>
        <div class="col-xs-6">
            <h5><a href="#">基于网络的可信软件大规模协同开发与演化</a> </h5>
            <p><small>本文提出汇聚群体智慧的可信软件开发新方法—— 群体化方法，该方法的核心是“群体协同、资源分享、运行监控、可信分析”，支持创新软件作品向可信软件产品转化，支持软件的可信演化。</small></p>
            <h5><a href="#">动物远缘杂交研究进展</a> </h5>
            <p><small>远缘杂交是指亲缘关系在种间及种间以上的生物之间的杂交，它可以使基因组从一个物种转移到另一个物种中，从而导致杂交后代的表现型和基因型都发生改变. 如果远缘杂交后代两性可育，
                则可以通过自交繁衍形成遗传变异的品系，它们在生物进化、遗传和育种方面具有重要作用。</small></p>
            <h5><a href="#">光电化学免疫分析研究进展</a> </h5>
            <p><small>光电化学分析是近年建立起来的一种基于物质的光电转换特性而进行检测的新型分析方法，它具有灵敏度高、设备简单、易于微型化等特点. 光电化学免疫分析则是光电化学分析与免疫反应的结合，体现了光电化学传感的高灵敏度和免疫反应的高特异性。</small></p>
        </div>
    </div>
    <div class="row db-solid">
        <div class="col-xs-6">
            <h5 class="bgBlue">最新阅读资源</h5>
            <p><small>页岩压裂中压裂液返排率低的孔隙尺度模拟与解释
                激光间接驱动聚变内爆流体不稳定性研究
                基于网络的可信软件大规模协同开发与演化
                2013年1月我国中东部强霾污染的数值模拟和防控对策
                肝细胞极性与膜蛋白分选的分子机制
                生物基化工与材料产业技术的开发与探索
                环流形上的极值度量——存在性和K-稳定性
                热离子-温差热电混合发电模块的优化性能研究
                晶体材料基因组问题第一原理计算研究
                多传感器分布式检测和估计融合
                页岩压裂中压裂液返排率低的孔隙尺度模拟与解释
                激光间接驱动聚变内爆流体不稳定性研究
                基于网络的可信软件大规模协同开发与演化
                2013年1月我国中东部强霾污染的数值模拟和防控对策</small></p>
        </div>
        <div class="col-xs-6">
            <h5 class="bgBlue">最多阅读文章</h5>
            <p><small>页岩压裂中压裂液返排率低的孔隙尺度模拟与解释
                激光间接驱动聚变内爆流体不稳定性研究
                基于网络的可信软件大规模协同开发与演化
                2013年1月我国中东部强霾污染的数值模拟和防控对策</small></p>
            <p class="text-right"><a href="#">更多》</a> </p>
            <h5 class="bgBlue">最多引用文章</h5>
            <p><small>页岩压裂中压裂液返排率低的孔隙尺度模拟与解释
                激光间接驱动聚变内爆流体不稳定性研究
                基于网络的可信软件大规模协同开发与演化
                2013年1月我国中东部强霾污染的数值模拟和防控对策</small></p>
            <p class="text-right"><a href="#">更多》</a> </p>
        </div>
    </div>
    <div class="mb15">
        <h4>主题</h4>
        <div class="row dotted">
            <div class="col-xs-4">地理</div>
            <div class="col-xs-4">化学</div>
            <div class="col-xs-4">科技</div>
            <div class="col-xs-4">数学</div>
            <div class="col-xs-4">生物学</div>
            <div class="col-xs-4">政治</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>最近阅读</h4>
            <p>《孔隙尺度模拟与解释》</p>
            <p>《111》</p>
            <p>《222》</p>
            <p>《孔隙尺度模拟与解释》</p>
            <p>《222》</p>
        </div>
        <div class="col-xs-6">
            <h4>最近检索</h4>
            <p>111</p>
            <p>222</p>
            <p>333</p>
            <p>444</p>
            <p>555</p>
        </div>
    </div>
</template>