<template name="news">
    <div class="part">
        <h4 class="text-center">《科学通报》第二届“最佳封面”和“优秀封面”评选 </h4>
        <p class="text-center">发布时间：2014-7-7   12:10         浏览次数：2533             作者：王冬</p>
        <p>为鼓励作者为我刊提供优秀的封面素材，关注和支持《科学通报》的发展，《科学通报》开展第二届“最佳封面”和“优秀封面”评选活动。细则如下：</p>
        <h6>评选范围：</h6>
        <p>2013年度的中、英文封面（其中中、英文使用同一设计素材的封面，只参与中文版评选)，每个语种的封面最多选取3幅。</p>
        <h6>评选标准：</h6>
        <p>时政性、科学性和艺术性的完美结合。</p>
        <p>时政性--配合当前国家重要的科学、技术、经济活动以及与人民生活迫切相关的问题。</p>
        <p>科学性-- 科学上是严谨的，实验结果可靠。</p>
        <p>艺术性-- 艺术再现科学发现的结果，让读者在接受科学知识的同时，获得艺术上的享受。</p>
        <h6>评选时间：</h6>
        <p>2014.6.20——2014.7.20</p>
        <p>欢迎您登陆下列页面进行投票。</p>
        <p>《科学通报》中文版2013年封面评选页（无需注册）：</p>
        <p>http://bbs.scichina.com/forum.php?mod=viewthread&tid=16&extra=page%3D1</p>
        <p>《科学通报》英文版2013年封面评选页（无需注册）：</p>
        <p>http://bbs.scichina.com/forum.php?mod=viewthread&tid=17&extra=page%3D1</p>
        <p>感谢您对《科学通报》“最佳封面”和“优秀封面”活动的关注与支持。期待您的参与！</p>
    </div>
</template>