<template name="personal1">
    <div class="mb15">
        <img src="banner.jpg"/>
    </div>
    <ul class="nav nav-pills">
        <li><a href="#">期刊概述</a> </li>
        <li><a href="#">编委会</a> </li>
        <li class="active"><a href="#">出版目录</a> </li>
        <li><a href="#">关于我们</a> </li>
        <li><a href="#">新闻</a> </li>
        <li><a href="#">多媒体</a> </li>
        <li><a href="#">专题/辑</a> </li>
        <li><a href="#">虚拟产品包</a> </li>
        <li><a href="#">预出版</a> </li>
        <li><a href="#">优先出版</a> </li>
        <li><a href="#">MOOP</a> </li>
        <li><a href="#">作者中心</a> </li>
    </ul>
    <div class="col-xs-3">
        <ul class="menu-ul">
            <li><a href="#">行政主编</a> </li>
            <li><a href="#">学术主编</a> </li>
            <li><a href="#">主编</a> </li>
            <li><a href="#">常务副主编</a> </li>
            <li><a href="#">副主编</a> </li>
            <li class="active"><a href="#">编委</a> </li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="part">编委会——编委</div>
        <h6>编委</h6>
        <table class="table table-bordered">
           <thead>
            <tr class="active">
                <th>郝月</th>
                <th>马平西</th>
                <th>马建峰</th>
                <th>王子宇</th>
                <th>王东明</th>
                <th>王龙</th>
                <th>王江舟</th>
                <th>王乾</th>
                <th>王耀南</th>
            </tr>
           </thead>
            <tbody>
                <tr class="active">
                    <td>龙腾</td>
                    <td>刘德荣</td>
                    <td>吕建</td>
                    <td>孙富春</td>
                    <td>庄越挺</td>
                    <td>纪越峰</td>
                    <td>许可</td>
                    <td>徐军</td>
                    <td>齐岳</td>
                </tr>
                <tr class="active">
                    <td>吴一戎</td>
                    <td>吴伟仁</td>
                    <td>宋士吉</td>
                    <td>应明生</td>
                    <td>张钦宇</td>
                    <td>张焕国</td>
                    <td>张霖</td>
                    <td>李乐伟</td>
                    <td>李学龙</td>
                </tr>
                <tr class="active">
                    <td>杜利民</td>
                    <td>陈建仁</td>
                    <td>周店</td>
                    <td>周志华</td>
                    <td>孟洛明</td>
                    <td>林宗利</td>
                    <td>金海</td>
                    <td>胡占义</td>
                    <td>胡伟武</td>
                </tr>
                <tr class="active">
                    <td>胡事民</td>
                    <td>唐志敏</td>
                    <td>徐宗本</td>
                    <td>徐宝文</td>
                    <td>殷勤业</td>
                    <td>郭雷</td>
                    <td>高文</td>
                    <td>隆克平</td>
                    <td>彭练矛</td>
                </tr>
                <tr class="active">
                    <td>彭群生</td>
                    <td>敬忠良</td>
                    <td>葛树志</td>
                    <td>谢维信</td>
                    <td>韩文报</td>
                    <td>廖桂生</td>
                    <td>蔡维德</td>
                    <td>陈虹</td>
                    <td>田捷</td>
                </tr>
            </tbody>
        </table>
        <div class="part">
            <div class="col-xs-3">
                <img class="mb15" src="person_01.jpg"/>
                <h5 class="text-center">郝跃 院士</h5>
            </div>
            <div class="col-xs-9">
                <p>单位：复旦大学波散射与遥感信息教育部重点实验室</p>
                <p>电话：010-82314312 </p>
                <p>传真：010-82317619</p>
                <p>Email: xhyu@catt.ac.cn</p>
                <p>研究方向：电磁散射传输与空间遥感、计算电磁学</p>
                <p>简介：<br/>
                    金亚秋院士是物理，化学，材料科学与工程学院特聘教授。他获得博士学位在物理学中，在加州大学伯克利分校，
                    并加入了教师在宾夕法尼亚州立大学在1997年他目前是宾夕法尼亚州立大学材料研究科学与工程中心主任。
                    他的研究涵盖了广泛凝聚态理论，从简单的分析模型，以大规模计算。研究主题包括半导体和金属纳米，
                    超导，表面科学，半导体合金，储能，磁无奈，分子和催化电机，光子材料，叶序和自组装的机械和电子特性。
                </p>
            </div>
        </div>
        <div class="part">
            <div class="col-xs-3">
                <img class="mb15" src="person_02.jpg"/>
                <h5 class="text-center">马平西 教授</h5>
            </div>
            <div class="col-xs-9">
                <p>单位： 国家自然科学基金委员会信息科学部</p>
                <p>电话：010-82314312</p>
                <p>传真：010-82317619</p>
                <p>Email: liwei@nlsde.buaa.edu.cn</p>
                <p>研究方向：计算机科学理论与软件基础，高速网络下的协同工作环境，海量信息物理学</p>
            </div>
        </div>
        <div class="part">
            <div class="col-xs-3">
                <img class="mb15" src="person_03.jpg"/>
                <h5 class="text-center">马建峰 教授</h5>
            </div>
            <div class="col-xs-9">
                <p>单位： 北京大学</p>
                <p>电话：010-82314312</p>
                <p>传真：010-82317619</p>
                <p>Email: liwei@nlsde.buaa.edu.cn</p>
                <p>研究方向：计算机科学理论与软件基础，高速网络下的协同工作环境，海量信息物理学</p>
            </div>
        </div>
        <div class="part">
            <div class="col-xs-3">
                <img class="mb15" src="person_04.jpg"/>
                <h5 class="text-center">王子宇 教授</h5>
            </div>
            <div class="col-xs-9">
                <p>单位： 中国科学院数学与系统科学研究院</p>
                <p>电话：010-82314312</p>
                <p>传真：010-82317619</p>
                <p>Email: liwei@nlsde.buaa.edu.cn</p>
                <p>研究方向：计算机科学理论与软件基础，高速网络下的协同工作环境，海量信息物理学</p>
            </div>
        </div>
        <div class="part">
            <div class="col-xs-3">
                <img class="mb15" src="person_05.jpg"/>
                <h5 class="text-center">王龙 教授</h5>
            </div>
            <div class="col-xs-9">
                <p>单位： 中国科学院数学与系统科学研究院</p>
                <p>电话：010-82314312</p>
                <p>传真：010-82317619</p>
                <p>Email: liwei@nlsde.buaa.edu.cn</p>
                <p>研究方向：计算机科学理论与软件基础，高速网络下的协同工作环境，海量信息物理学</p>
            </div>
        </div>
    </div>
</template>