<template name="publishCatalog">
    <div class="mb15">
        <img src="banner.jpg"/>
    </div>
    <ul class="nav nav-pills">
        <li><a href="#">期刊概述</a> </li>
        <li><a href="#">编委会</a> </li>
        <li class="active"><a href="#">出版目录</a> </li>
        <li><a href="#">关于我们</a> </li>
        <li><a href="#">新闻</a> </li>
        <li><a href="#">多媒体</a> </li>
        <li><a href="#">专题/辑</a> </li>
        <li><a href="#">虚拟产品包</a> </li>
        <li><a href="#">预出版</a> </li>
        <li><a href="#">优先出版</a> </li>
        <li><a href="#">MOOP</a> </li>
        <li><a href="#">作者中心</a> </li>
    </ul>
    <div class="dotted mb15">
        <div class="col-xs-3">
            <p><img src="book.jpg"/> </p>
        </div>
        <div class="col-xs-8">
            <div class="dotted">
                <h4>2014年 第59卷 第32期</h4>
                <p><small>出版时间：2014年11月20日</small></p>
            </div>
            <h5>封面说明：</h5>
            <p>针对页岩压裂过程中, 压裂液返排效率普遍很低的现象, 基于高分辨率页岩岩样SEM(scanning electron microscope)电子显微镜扫描图像,
                利用马尔科夫链蒙特卡罗(Markov Chain Monte Carlo)方法重构得到页岩的三维数字岩心，采用 有有高密度比的格子Boltzmann模型,
                从孔隙尺度来模拟页岩中气水两相驱替过程. 首先通过计算表面张力和相对渗透率来验证模型的准确性, 然后模拟页岩数字岩心中的油水两相流动,
                页岩中首先饱和水(气)相, 然后从一端注入气(水)相，模拟终止条件为驱替相在出口端发生突破, 气水运动黏度比和密度比分别设置为10:1和1:1000。</p>
        </div>
    </div>
    <div class="db-solid mb15">
        <div class="col-xs-3">
            <div class="dotMenu">
                <ul id="menu">
                    <li><a href="#">第59卷</a>
                        <ul>
                            <li><a href="#">第32期（2014.11）</a></li>
                            <li><a href="#">第31期（2014.10）</a></li>
                            <li><a href="#">第30期（2014.09）</a></li>
                            <li><a href="#">第29期（2014.08）</a></li>
                        </ul>
                    </li>
                    <li><a href="#">第58卷</a>
                        <ul>
                            <li><a href="#">第25期（2014.09）</a></li>
                            <li><a href="#">第24期（2014.08）</a></li>
                            <li><a href="#">第23期（2014.07）</a></li>
                            <li><a href="#">第22期（2014.06）</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <img src="book.jpg"/>
        </div>
        <div class="col-xs-9">
            <h5>当前期刊文章目录：（当前期刊默认为最新出版的那一期期刊）</h5>
            <div class="dotted indetP">
                <h6><img src="icon_access_oa.gif"> <a href="#">基于3D打印 技术的岩体复杂结构与应力场的可视化方法</a></h6>
                <p>张龙, 鞠杨, 郑泽民, 卢晋波, 毛灵涛, 高峰, 彭瑞东</p>
                <p>《科学通报》2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</p>
                <p>语种类型：中文</p>
                <p><a href="#" class="onUpA"> <span class="caret"></span> 详情</a></p>
                <div class="onDown">
                    <p>针对页岩压裂过程中, 压裂液返排效率普遍很低的现象, 基于高分辨率页岩岩样SEM(scanning electron microscope)电子显微镜扫描图像,
                    利用马尔科夫链蒙特卡罗(Markov Chain Monte Carlo)方法重构得到页岩的三维数字岩心，采用 有有高密度比的格子Boltzmann模型,
                    从孔隙尺度来模拟页岩中气水两相驱替过程. 首先通过计算表面张力和相对渗透率来验证模型的准确性, 然后模拟页岩数字岩心中的油水两相流动,
                    页岩中首先饱和水(气)相, 然后从一端注入气(水)相，模拟终止条件为驱替相在出口端发生突破, 气水运动黏度比和密度比分别设置为10:1和1:1000。</p>
                </div>
            </div>
            <div class="dotted indetP">
                <h6><img src="icon_access_oa.gif"> <a href="#">基于3D打印 技术的岩体复杂结构与应力场的可视化方法</a></h6>
                <p>张龙, 鞠杨, 郑泽民, 卢晋波, 毛灵涛, 高峰, 彭瑞东</p>
                <p>《科学通报》2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</p>
                <p>语种类型：中文</p>
                <p><a href="#" class="onUpA"> <span class="caret"></span> 详情</a></p>
                <div class="onDown">
                    <p>针对页岩压裂过程中, 压裂液返排效率普遍很低的现象, 基于高分辨率页岩岩样SEM(scanning electron microscope)电子显微镜扫描图像,
                        利用马尔科夫链蒙特卡罗(Markov Chain Monte Carlo)方法重构得到页岩的三维数字岩心，采用 有有高密度比的格子Boltzmann模型,
                        从孔隙尺度来模拟页岩中气水两相驱替过程. 首先通过计算表面张力和相对渗透率来验证模型的准确性, 然后模拟页岩数字岩心中的油水两相流动,
                        页岩中首先饱和水(气)相, 然后从一端注入气(水)相，模拟终止条件为驱替相在出口端发生突破, 气水运动黏度比和密度比分别设置为10:1和1:1000。</p>
                </div>
            </div>
            <div class="dotted indetP">
                <h6><img src="icon_access_oa.gif"> <a href="#">基于3D打印 技术的岩体复杂结构与应力场的可视化方法</a></h6>
                <p>张龙, 鞠杨, 郑泽民, 卢晋波, 毛灵涛, 高峰, 彭瑞东</p>
                <p>《科学通报》2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</p>
                <p>语种类型：中文</p>
                <p><a href="#" class="onUpA"> <span class="caret"></span> 详情</a></p>
                <div class="onDown">
                    <p>针对页岩压裂过程中, 压裂液返排效率普遍很低的现象, 基于高分辨率页岩岩样SEM(scanning electron microscope)电子显微镜扫描图像,
                        利用马尔科夫链蒙特卡罗(Markov Chain Monte Carlo)方法重构得到页岩的三维数字岩心，采用 有有高密度比的格子Boltzmann模型,
                        从孔隙尺度来模拟页岩中气水两相驱替过程. 首先通过计算表面张力和相对渗透率来验证模型的准确性, 然后模拟页岩数字岩心中的油水两相流动,
                        页岩中首先饱和水(气)相, 然后从一端注入气(水)相，模拟终止条件为驱替相在出口端发生突破, 气水运动黏度比和密度比分别设置为10:1和1:1000。</p>
                </div>
            </div>
            <div class="dotted indetP">
                <h6><img src="icon_access_oa.gif"> <a href="#">基于3D打印 技术的岩体复杂结构与应力场的可视化方法</a></h6>
                <p>张龙, 鞠杨, 郑泽民, 卢晋波, 毛灵涛, 高峰, 彭瑞东</p>
                <p>《科学通报》2014, 59(32): 3109-3119 http://dx.doi.org/10.1063/1.3693970</p>
                <p>语种类型：中文</p>
                <p><a href="#" class="onUpA"> <span class="caret"></span> 详情</a></p>
                <div class="onDown">
                    <p>针对页岩压裂过程中, 压裂液返排效率普遍很低的现象, 基于高分辨率页岩岩样SEM(scanning electron microscope)电子显微镜扫描图像,
                        利用马尔科夫链蒙特卡罗(Markov Chain Monte Carlo)方法重构得到页岩的三维数字岩心，采用 有有高密度比的格子Boltzmann模型,
                        从孔隙尺度来模拟页岩中气水两相驱替过程. 首先通过计算表面张力和相对渗透率来验证模型的准确性, 然后模拟页岩数字岩心中的油水两相流动,
                        页岩中首先饱和水(气)相, 然后从一端注入气(水)相，模拟终止条件为驱替相在出口端发生突破, 气水运动黏度比和密度比分别设置为10:1和1:1000。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <h5 class="bgBlue">本月热读文章</h5>
        <div class="part">
            <p>生物多样性研究进展</p>
            <p>稀土无机发光材料：电子结构、光学性能和生物应用</p>
            <p>多传感器分布式检测和估计融合</p>
            <p>光电化学免疫分析研究进展</p>
            <p class="text-right"><a href="#">更多</a> </p>
        </div>
    </div>
    <div class="col-xs-6">
        <h5 class="bgBlue">最多引用文章</h5>
        <div class="part">
            <p>生物多样性研究进展</p>
            <p>稀土无机发光材料：电子结构、光学性能和生物应用</p>
            <p>多传感器分布式检测和估计融合</p>
            <p>光电化学免疫分析研究进展</p>
            <p class="text-right"><a href="#">更多</a> </p>
        </div>
    </div>
</template>