<template name="publishRecommed">
    <div class="mb15">
        <img src="banner.jpg"/>
    </div>
    <ul class="nav nav-pills">
        <li><a href="#">期刊概述</a> </li>
        <li><a href="#">编委会</a> </li>
        <li><a href="#">出版目录</a> </li>
        <li><a href="#">关于我们</a> </li>
        <li><a href="#">新闻</a> </li>
        <li><a href="#">多媒体</a> </li>
        <li class="active"><a href="#">专题/辑</a> </li>
        <li><a href="#">虚拟产品包</a> </li>
        <li><a href="#">预出版</a> </li>
        <li><a href="#">优先出版</a> </li>
        <li><a href="#">MOOP</a> </li>
        <li><a href="#">作者中心</a> </li>
    </ul>
    <h4>专题推荐</h4>
    <p>以下推荐的专题包括发表在本类期刊上的一些特殊专题，（从2010年到现在），专题详情查看可通过点击专题名称，转至“出版目录”下对应的专题文章列表浏览。</p>
    <div class="part text-center">
        <div class="col-xs-2">出版年份</div>
        <div class="col-xs-4">专题名称</div>
        <div class="col-xs-6">客座编辑</div>
    </div>
    <div class="col-xs-2">
        <div class="part h100"> 2014年</div>
    </div>
    <div class="col-xs-4">
        <div class="part h100">
            <p><a href="#">矿山岩体介质探索专题</a></p>
            <p>第59卷32期（11月）</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="part h100">
            <p><strong>吕建：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
            <p><strong>马晓星：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="part h100"> 2014年</div>
    </div>
    <div class="col-xs-4">
        <div class="part h100">
            <p><a href="#">矿山岩体介质探索专题</a></p>
            <p>第59卷32期（11月）</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="part h100">
            <p><strong>吕建：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
            <p><strong>马晓星：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="part h100"> 2014年</div>
    </div>
    <div class="col-xs-4">
        <div class="part h100">
            <p><a href="#">矿山岩体介质探索专题</a></p>
            <p>第59卷32期（11月）</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="part h100">
            <p><strong>吕建：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
            <p><strong>马晓星：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="part h100"> 2014年</div>
    </div>
    <div class="col-xs-4">
        <div class="part h100">
            <p><a href="#">矿山岩体介质探索专题</a></p>
            <p>第59卷32期（11月）</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="part h100">
            <p><strong>吕建：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
            <p><strong>马晓星：</strong>南京大学计算机软件新技术国家重点实验室, 南京 210046</p>
        </div>
    </div>
</template>