<template name="publishAuthor">
    <div class="mb15">
        <img src="banner.jpg"/>
    </div>
    <ul class="nav nav-pills mb15">
        <li><a href="#">期刊概述</a> </li>
        <li><a href="#">编委会</a> </li>
        <li><a href="#">出版目录</a> </li>
        <li><a href="#">关于我们</a> </li>
        <li><a href="#">新闻</a> </li>
        <li><a href="#">多媒体</a> </li>
        <li><a href="#">专题/辑</a> </li>
        <li><a href="#">虚拟产品包</a> </li>
        <li><a href="#">预出版</a> </li>
        <li><a href="#">优先出版</a> </li>
        <li><a href="#">MOOP</a> </li>
        <li class="active"><a href="#">作者中心</a> </li>
    </ul>
    <div class="noImgDotted">
        <a href="#"><img src="zhinan.jpg"/></a> <a href="#"><img src="tougao.jpg"/></a>
    </div>
    <div class="part"><strong>投稿指南 >> </strong> </div>
    <div class="col-xs-4">
        <div class="part h220">
            <div class="dotted text-center mb15"><strong>投稿前须知</strong></div>
            <p><a href="#">出版商出版说明</a></p>
            <p><a href="#">目标投稿期刊查找说明</a></p>
            <p><a href="#">版权协议</a></p>
            <p><a href="#">投稿方针与政策</a></p>
            <p><a href="#">作者常见问题查看</a></p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="part h220">
            <div class="dotted text-center mb15"><strong>准备手稿</strong></div>
            <p>一般稿件投稿说明</p>
            <ul>
                <li><a href="#">准备稿件</a></li>
                <li><a href="#">选择目标期刊</a></li>
            </ul>
            <p>图表、视频上传说明</p>
            <ul>
                <li><a href="#">准备图表、视频资料</a></li>
                <li><a href="#">上传格式说明</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="part h220">
            <div class="dotted text-center mb15"><strong>提交稿件</strong></div>
            <p><a href="#">中文稿件：转至协同系统（链接）。</a></p>
            <p><a href="#">英文稿件： 转至ScholarOne投审稿系统（链接）。</a></p>

        </div>
    </div>
    <div class="part"><strong>作者历史文章查看 >> </strong> </div>
    <form>
        <div class="form-group form-inline">
            <label for="exampleInputName2">作者名称：</label>
            <input type="text" class="form-control" placeholder="张龙">
        </div>
        <div class="form-group form-inline">
            <label for="exampleInputName2">作者单位：</label>
            <input type="text" class="form-control" placeholder="杭州电子科技大学数字媒体与艺术设计学院">
            <button class="btn btn-info btn-sm">搜索</button>
        </div>

    </form>
</template>